/**
* VARIABLES
*/
:root {
  --clr-accent-100: #ffefed;
  --clr-accent-200: #ffcfc9;
  --clr-accent-400: #FC5F49;
  --clr-black: #191919;
  --clr-white: #fff;
  --clr-gray-100: #FBFBFB;
  --clr-gray-200: #efefef;
  --clr-gray-300: #DFDFDF;
  --clr-gray-400: #5E5E5E;
  --clr-body-text: var(--clr-gray-400);

  --ff-body: "Red Hat Display", sans-serif;
  --ff-heading: "Red Hat Display", sans-serif;

  --fs-300: .875rem; /* 14px */
  --fs-400: 1rem;    /* 16px */
  --fs-500: 1.1875rem; /* 19px */
  --fs-600: 1.5rem; /* 24px */
  --fs-700: 1.875rem; /* 30px */
  --fs-800: 1.875rem; /* 30px */
  --fs-900: 1.875rem; /* 30px */

  --container-400: 82.5rem;
  --column-gap: 1.5rem;
  --container-side-space: 1rem;
}

/**
* RESET
*/
*{
  margin: 0;
  padding: 0;
  font: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

body {
  font-size: var(--fs-400);
  line-height: 1.5;
  font-family: var(--ff-body);
  color: var(--clr-gray-400);
  overflow-x: hidden;
}

.swiper-wrapper,
.swiper-slide{
    height: unset !important;
}

/**
* UTILITY CLASSES
*/
.container {
  margin: 0 auto;
  padding: 0 var(--container-side-space);
  width: 100%;
}

.container--narrow {
  max-width: calc(var(--container-400) + var(--container-side-space) * 2);
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.heading {
  font-family: var(--ff-heading);
  color: var(--clr-black);
}

.heading--h1 {
  font-size: var(--fs-900);
  line-height: 1.2;
  font-weight: 700;
}

.heading--h2 {
  font-size: var(--fs-800);
  line-height: 1.4;
  font-weight: 700;
}

.heading--h3 {
  font-size: var(--fs-700);
  line-height: 1.35;
  font-weight: 600;
}

.heading--h4 {
  font-size: var(--fs-600);
  line-height: 1.4;
  font-weight: 600;
}

.heading--h5 {
  font-size: var(--fs-500);
  line-height: 1.6;
  font-weight: 600;
}

.heading--h6 {
  font-size: var(--fs-400);
  line-height: 1.25;
  font-weight: 500;
}

/**
* COMPONENTS
*/

/* BUTTONS */
.btn {
  display: inline-flex;
  padding: 0 1.8125em;
  font-size: 1rem;
  line-height: 2rem;
  text-transform: capitalize;
  font-weight: 500;
  transition: background-color .3s, color .3s;
}

.btn--primary {
  background-color: var(--clr-black);
  color: var(--clr-white);
}

.btn--primary:hover,
.btn--primary:focus-visible {
  background-color: var(--clr-accent-400);
}

.btn--accent {
  background-color: var(--clr-accent-400);
  color: var(--clr-white);
}

.btn--accent:hover,
.btn--accent:focus-visible {
  background-color: var(--clr-black);
}

/* FORM */
.form input {
  padding: 0 1rem;
  width: 100%;
  height: 2rem;
  border: 1px solid var(--clr-gray-300);
  outline: none;
  transition: box-shadow .3s;
}

.form input:focus {
  box-shadow: 5px 5px 5px hsla(0, 0%, 10%, 25%);
}

/* TESTIMONIALS */
.testimonials {
  padding: 3.75rem 0;
  background-color: var(--clr-gray-200);
}

.testimonials__heading {
  text-align: center;
}

.testimonials__slider {
  margin-top: 1.8125rem;
}

.testimonials__slider__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 54rem;
  margin: 0 auto;
  text-align: center;
}

.testimonials__content {
  font-size: var(--fs-500);
  line-height: 1.6;
  font-weight: 600;
}

.testimonials__author {
  margin-top: 2.6875rem;
}

.testimonials__author__image {
  margin: 0 auto 1.25rem auto;
  width: 3.75rem;
  height: 3.75rem;
  object-fit: cover;
  border-radius: 50%;
}

.testimonials__slider__arrow {
  display: none;
}

/* BOTTOM GALLERY */
.bottom-gallery__item {
  position: relative;
}

.gallery__item__link {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--clr-black);
  font-size: 2rem;
  z-index: 2;
}

.gallery__item__link i {
  opacity: 0;
  transition: opacity .4s;
}

.gallery__item__link:hover i,
.gallery__item__link:focus-visible i {
  opacity: 1;
}

.gallery__item__link:hover + .bottom-gallery__item__image,
.gallery__item__link:focus-visible + .bottom-gallery__item__image {
 filter: blur(3px);
}

.bottom-gallery__item__image {
  transition: filter .4s;
}

/* SWIPER ROUND ARROW */
.swiper-round-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.8125rem;
  height: 2.8125rem;
  border: 1px solid var(--clr-gray-400);
  border-radius: 50%;
  color: #323232;
  font-size: 1.4rem;
  cursor: pointer;
  transition: background-color .3s, color .3s;
}

.swiper-round-arrow:hover,
.swiper-round-arrow:focus-visible {
  background-color: var(--clr-accent-400);
  color: white;
}

.swiper-round-arrow[aria-disabled="true"] {
  opacity: .4;
  background-color: transparent !important;
  color: #323232;
  cursor: default;
}

/* PRODUCT CARD */
.product-card__top {
  position: relative;
  padding: 1.4rem;
  height: 25rem;
}

.product-card__top__image {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  object-fit: cover;
}

.product-card__top__elements {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 2;
}

.product-card__top__elements__buttons,
.product-card__add-to-cart {
  position: absolute;
  transition: all .4s;
}

.product-card__top__elements__buttons {
  display: flex;
  flex-direction: column;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition-delay: .15s;
}

.product-card__top__elements__buttons__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.6875rem;
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--clr-accent-400);
  color: var(--clr-white);
  font-size: 1rem;
  border-radius: 50%;
  transition: background-color .3s;
}

.product-card__top__elements__buttons__btn:hover,
.product-card__top__elements__buttons__btn:focus-visible {
  background-color: var(--clr-black);
}

.product-card__add-to-cart {
  left: 0;
  bottom: 0;
  width: 100%;
  justify-content: center;
  transform: translateY(100%);
}

.product-card__top:hover .product-card__add-to-cart {
  transform: translateY(0);
}

.product-card__top:hover .product-card__top__elements__buttons{
  transform: translateX(0);
}

.product-card__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.625rem;
  text-align: center;
}

.product-card__title:hover,
.product-card__title:focus-visible {
  color: var(--clr-accent-400);
}

.product-card__price {
  margin-top: .4rem;
  font-weight: 500;
  color: var(--clr-accent-400);
}

/**
* HEADER
*/
.header {
  position: relative;
  padding: 1rem 0;
  z-index: 2;
}

.header::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--clr-black);
  opacity: .9;
  z-index: -1;
}

.header .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  font-weight: 700;
  color: var(--clr-white);
}

.header__nav ul {
  display: flex;
}

.header__nav ul li a {
  padding: 0 1.25rem;
  font-weight: 500;
  color: var(--clr-white);
  transition: color .3s;
}

.header__nav ul li a:hover,
.header__nav ul li a:focus-visible,
.header__nav ul li a.active {
  color: var(--clr-accent-400);
}

.mobile-nav-toggler {
  display: none;
}

@media screen and (max-width: 768px) {
  .header__nav {
    display: none;
  }

  .header__nav.active {
    display: block;
    position: absolute;
    padding: 1rem;
    top: calc(100% + 1rem);
    left: var(--container-side-space);
    right: var(--container-side-space);
    background-color: var(--clr-white);
    box-shadow: 1px 1px 15px rgba(25, 25, 25, 8%);
  }

  .header__nav ul {
    display: grid;
    row-gap: .5rem;
  }

  .header__nav ul li a {
    padding: 0;
    color: var(--clr-black);
  }

  .mobile-nav-toggler {
    display: block;
  }
}

.header__buttons {
  display: flex;
  align-items: center;
}

.header__buttons button {
  margin-left: .5rem;
  color: white;
  font-size: 1.1rem;
  transition: color .3s;
}

.header__buttons button:hover,
.header__buttons button:focus-visible {
  color: var(--clr-accent-400);
}

/**
* HOME PAGE
*/

/* SLIDER */
.slider__item {
  background-color: var(--clr-gray-100);
}

.slider__item__content {
  padding: 3rem var(--container-side-space);
}

.slider__item__text {
  padding: 1rem 0 2rem;
}

.slider__item__image {
  width: 100%;
  object-fit: cover;
}

.slider__pagination {
  display: none;
}

/* FEATURED ICONS */
.featured-icons {
  padding: 3.125rem 0;
}

.featured-icons .row {
  display: grid;
  gap: var(--column-gap);
}

.featured-icons__block {
  display: flex;
  align-items: center;
  color: var(--clr-gray-400);
}

.featured-icons__block__icon {
  display: flex;
  flex: 0 0 3.125rem;
  margin-right: 1.25rem;
}

/* CATEGORIES */
.categories .row {
  display: grid;
  gap: var(--column-gap);
}

.categories__block {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 16rem;
}

.categories__block__image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.categories__block__btn {
  position: relative;
}

.categories__block__btn i {
  margin-left: -1rem;
  opacity: 0;
  transition: margin .3s, opacity .3s .1s;
}

.categories__block__btn:hover i,
.categories__block__btn:focus-visible i {
  margin-left: .9rem;
  opacity: 1;
}

/* FEATURED PRODUCTS */
.featured {
  padding: 3.75rem 0;
}

.featured__heading {
  text-align: center;
}

.featured__nav {
  position: relative;
  padding: 1rem;
  margin-top: 1.6rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.featured__nav::before,
.featured__nav::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: gray;
  opacity: .2;
}

.featured__nav::before {
  top: 0;
}

.featured__nav::after {
  bottom: 0;
}

.featured__nav li {
  padding: .5rem;
}

.featured__nav__btn {
  font-weight: 500;
  color: var(--clr-gray-400);
  transition: color .3s;
}

.featured__nav__btn:hover,
.featured__nav__btn:focus-visible,
.featured__nav__btn.active {
  color: var(--clr-black);
}

.featured__nav__btn.active {
  font-weight: 700;
}

.featured__products {
  padding-top: 3.125rem;
}

.featured__products__row {
  display: none;
  gap: var(--column-gap);
}

.featured__products__row.active {
  display: grid;
}


/* SLIDE TEXT */
.slide-text {
  padding: 3.125rem 0;
  background-color: var(--clr-accent-400);
}

.slide-text__wrapper {
  display: flex;
  overflow: hidden;
}

.slide-text__item {
  display: flex;
  align-items: center;
  text-wrap: nowrap;
  color: var(--clr-white);
  animation: slideText 4s infinite linear;
}

@keyframes slideText {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.slide-text__item__icon {
  margin: 0 2.5rem;
  max-width: unset;
}

/* HOME ABOUT */
.home-about {
  padding: 3.75rem 0;
}

.home-about .row {
  display: grid;
  gap: var(--column-gap);
}

.home-about__text {
  padding: 1.1875rem 0 2.75rem;
}

/* LOGOS */
.logos {
  padding: 3.75rem 0;
}

.logos img {
  margin: 0 auto;
}

/* SIDE IMAGE */
.side-image {
  padding: 3.75rem 0;
}

.side-image .row {
  display: grid;
  gap: var(--column-gap);
}

.side-image__text {
  padding: 1.1875rem 0 2.75rem;
}

.side-image__image img {
  width: 100%;
  object-fit: cover;
}

/* NEW ITEMS & TOP SELLING PRODUCTS */
.top-products__heading-row,
.new-products__heading-row {
  margin-bottom: 2em;
}

.top-products__arrows,
.new-products__arrows {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  gap: 1rem;
  margin-top: 1.2rem;
}

/* NEWSLETTER */
.newsletter {
  padding: 3.75rem 0;
}

.newsletter__wrapper {
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
}

.newsletter__wrapper::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--clr-accent-400);
  z-index: 1;
}

.newsletter__wrapper__image {
  position: relative;
  display: none;
}

.newsletter__wrapper__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.newsletter__wrapper__content {
  position: relative;
  padding: 2rem var(--container-side-space);
  color: white;
  z-index: 2;
}

.newsletter__heading {
  margin-bottom: 0.375rem;
  color: var(--clr-white);
}

.newsletter__form {
  margin-top: 1rem;
}

.newsletter__form__input-wrapper {
  margin-bottom: 0.625rem;
}

.newsletter__form__btn {
  justify-content: center;
  width: 100%;
}

/**
* FOOTER
*/
.footer {
  position: relative;
}

.footer::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;
  background-color: var(--clr-gray-400);
  opacity: .2;
}

.footer__top-row {
  display: grid;
  gap: var(--column-gap);
  padding: 3.75rem 0;
}

.footer__logo {
  font-weight: 700;
}

.footer__logo-text {
  margin-top: 1.375rem;
  max-width: 19.5rem;
}

.footer__banks {
  display: flex;
  align-items: center;
  margin-top: 1.625rem;
}

.footer__banks li + li {
  margin-left: 2.125rem;
}

.footer__heading {
  margin-bottom: 1.1875rem;
}

.footer__links li + li {
  margin-top: .5rem;
}

.footer__links a{
  color: var(--clr-gray-400);
}

.footer__links a:hover,
.footer__links a:focus-visible,
.footer__contact a:hover,
.footer__contact a:focus-visible {
  color: var(--clr-accent-400);
}

.footer__contact {
  line-height: 1.8;
}

.footer__contact a {
  color: var(--clr-gray-400);
}

.footer__bottom-row {
  position: relative;
  display: grid;
  gap: var(--column-gap);
  padding: 1.8125rem 0;
}

.footer__bottom-row::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;
  background-color: var(--clr-gray-400);
  opacity: .2;
}

.footer__socials {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  gap: 1.5625rem;
}

.footer__socials a {
  font-size: 1.2rem;
  color: var(--clr-gray-400);
}

.footer__socials a:hover,
.footer__socials a:focus-visible {
  color: var(--clr-accent-400);
}


/**
* BREAKPOINTS
*/

@media screen and (min-width: 768px) {
  /**
  * VARIABLES
  */
  :root {
    --container-side-space: 2em;
  }

  /**
  * HOME PAGE
  */

  /* FEATURED ICONS */
  .featured-icons .row {
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  }

  /* CATEGORIES */
  .categories__block {
    height: 25rem;
  }

  /* FEATURED PRODUCTS */
  .featured__nav {
    justify-content: space-between;
  }

  .featured__nav li {
    padding: 0;
  }

  .featured__products__row.active {
    grid-template-columns: repeat(2, 1fr);
  }

  /* NEW ITEMS & TOP SELLING PRODUCTS */
  .top-products__heading-row,
  .new-products__heading-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .top-products__arrows {
    margin-top: 0;
  }

  /* NEWSLETTER */
  .newsletter__wrapper__content {
    padding: 4rem;
  }

  .newsletter__form {
    display: flex;
    margin-top: 2.125rem;
  }

  .newsletter__form__input-wrapper {
    margin-bottom: 0;
    margin-right: 0.625rem;
    flex-grow: 1;
  }

  .newsletter__form__btn {
    width: auto;
  }


  /**
  * FOOTER
  */
  .footer__top-row {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 992px) {
  /**
  * VARIABLES
  */
  :root {
    --fs-300: .875rem; /* 14px */
    --fs-400: 1rem;    /* 16px */
    --fs-500: 1.3125rem; /* 21px */
    --fs-600: 1.75rem; /* 28px */
    --fs-700: 2.3125rem; /* 37px */
    --fs-800: 2.6875rem; /* 43px */
    --fs-900: 3rem; /* 48px */

    --container-side-space: 4.6em;
  }

  /**
  * COMPONENTS
  */

  /* BUTTONS */
  .btn {
    line-height: 3.1875em;
  }

  /* FORM */
  .form input {
    height: 3.1875em;
  }

  /* TESTIMONIALS */
  .testimonials {
    padding: 7.5rem 4.6875rem;
  }

  .testimonials__slider__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    cursor: pointer;
    font-size: 2rem;
    color: var(--clr-accent-400);
    z-index: 2;
    outline: none;
    transition: color .3s;
  }

  .testimonials__slider__arrow:hover,
  .testimonials__slider__arrow:focus-visible {
    color: var(--clr-black);
  }

  .testimonials__slider__arrow--left {
    left: 0;
  }

  .testimonials__slider__arrow--right {
    right: 0;
  }

  /* PRODUCT CARD */
  .product-card__top {
    padding: 1.875rem;
    height: 30rem;
  }

  /**
  * HEADER
  */
  .header__buttons button {
    margin-left: 1.25rem;
  }

  /**
  * HOME PAGE
  */

  /* SLIDER */
  .slider__item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    height: 45rem !important;
  }

  .slider__item__image {
    height: 100%;
  }

  .slider__pagination {
    display: flex;
    left: var(--container-side-space) !important;
    bottom: 8% !important;
    width: auto !important;
  }

  .slider__pagination span {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.375rem 0 0 !important;
    background-color: transparent;
    width: 1.1875rem;
    height: 1.1875rem;
    border: 1px solid transparent;
    opacity: 1;
    border-radius: 50%;
    transition: border-color .3s;
  }

  .slider__pagination span::before {
    content: "";
    width: 0.4375rem;
    height: 0.4375rem;
    background-color: var(--clr-black);
    border-radius: 50%;
    opacity: .4;
    transition: opacity .5s;
  }

  .slider__pagination .swiper-pagination-bullet-active {
    border-color: var(--clr-black);
  }

  .slider__pagination .swiper-pagination-bullet-active::before {
    opacity: 1;
  }

  /* FEATURED ICONS */
  .featured-icons {
    padding: 4.4375rem 0 5.5rem;
  }

  /* CATEGORIES */
  .categories .row {
    grid-template-columns: repeat(3, 1fr);
  }

  /* FEATURED PRODUCTS */
  .featured {
    padding: 7.5rem 0;
  }

  .featured__nav {
    margin-top: 3.75rem;
    padding: 1rem 5.5rem;
  }

  /* HOME ABOUT */
  .home-about {
    padding: 8.75rem 0 7rem;
  }

  .home-about .row {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .home-about__text {
    max-width: 35rem;
  }

  .home-about__image {
    order: -1;
  }

  /* LOGOS */
  .logos {
    padding: 8.375rem 0 8.75rem;
  }

  /* SIDE IMAGE */
  .side-image {
    padding: 7.5rem 0;
  }

  .side-image .row {
    grid-template-columns: repeat(2, 1fr);
  }

  .side-image__content {
    padding: 7rem 0;
  }

  .side-image__text {
    max-width: 35rem;
  }

  .side-image__image {
    margin-right: calc(var(--container-side-space) * -1);
  }

  .side-image__image img {
    height: 100%;
  }

  /* NEW ITEMS & TOP SELLING PRODUCTS */
  .top-products__heading-row,
  .new-products__heading-row {
    margin-bottom: 4em;
  }

  /* NEWSLETTER */
  .newsletter {
    padding: 8rem 0;
  }

  .newsletter__wrapper {
    display: grid;
    grid-template-columns: 4fr 8fr;
  }

  .newsletter__wrapper::before {
    transform: skew(-40deg);
    left: 19%;
  }

  .newsletter__wrapper__image {
    display: block;
  }

  .newsletter__wrapper__content {
    padding-left: 0 !important;
  }

  /**
  * FOOTER
  */
  .footer__bottom-row {
    display: flex;
    justify-content: space-between;
  }

  .footer__bottom-row .footer__links {
    display: grid;
    grid-auto-flow: column;
    gap: 2rem;
  }

  .footer__bottom-row .footer__links li {
    margin: 0;
  }
}

@media screen and (min-width: 1200px) {
  /**
  * VARIABLES
  */
  :root {
    --fs-800: 3.125rem; /* 50px */
    --fs-900: 3.4375rem; /* 55px */

    --container-side-space: 4.6em;
  }

  /**
  * COMPONENTS
  */

  /* PRODUCT CARD */
  .product-card__top {
    height: 34rem;
  }

  /**
  * HOME PAGE
  */

  /* SLIDER */
  .slider__item {
    grid-template-columns: 40% auto;
  }

  /* FEATURED PRODUCTS */
  .featured__products__row.active {
    grid-template-columns: repeat(4, 1fr);
  }

  /* SIDE IMAGE */
  .side-image .row {
    grid-template-columns: 7fr 5fr;
  }

  .side-image__content {
    padding: 9.5rem 0;
  }

  .side-image__image {
    margin-right: -10rem;
  }

  /* NEWSLETTER */
  .newsletter__wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  .newsletter__wrapper::before {
    left: 30%;
  }

  .newsletter__wrapper__content {
    padding: 7.5rem 5.5rem;
  }

  /**
  * FOOTER
  */
  .footer__top-row {
    padding: 8.125rem 0 3.75rem;
    grid-template-columns: 4fr 2fr 3fr 3fr;
  }

  .footer__bottom-row .footer__links {
    gap: 3.75rem;
  }
}

@media screen and (min-width: 1600px) {
  /**
  * VARIABLES
  */
  :root {
    --fs-900: 4.1875rem; /* 67px */
  }

  /**
  * HOME PAGE
  */

  /* CATEGORIES */
  .categories__block {
    height: 28rem;
  }

  /* SIDE IMAGE */
  .side-image__image {
    margin-right: calc((100vw - var(--container-400)) / 2 * -1);
  }

  /* NEWSLETTER */
  .newsletter__wrapper::before {
    left: 36%;
  }

  /**
  * FOOTER
  */
  .footer__top-row {
    grid-template-columns: 5fr 2fr 3fr 2fr;
  }
}