<aside class="account__aside">
  <h5 class="heading heading--h5">Menu</h5>
  <ul class="account__aside__nav">
    <li>
      <a href="#" class="active">
        <i class="ri-settings-5-line" aria-hidden="true"></i>
        Account settings
      </a>
    </li>

    <li>
      <a href="#">
        <i class="ri-file-user-line" aria-hidden="true"></i>
        Profile settings
      </a>
    </li>

    <li>
      <a href="#">
        <i class="ri-truck-line" aria-hidden="true"></i>
        Delivery details
      </a>
    </li>

    <li>
      <a href="#">
        <i class="ri-shopping-cart-2-line" aria-hidden="true"></i>
        Purchased products
      </a>
    </li>

    <li>
      <a href="#">
        <i class="ri-arrow-turn-forward-line" aria-hidden="true"></i>
        Product returns
      </a>
    </li>

    <li>
      <a href="#">
        <i class="ri-questionnaire-line" aria-hidden="true"></i>
        Product reviews
      </a>
    </li>
  </ul>
</aside>