{% extends 'core/base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<section class="account">
  <div class="container container--narrow">
    <div class="row">
      {% include 'accounts/account-aside.html' %}

      <div class="account__content">
        <h3 class="account__content__heading heading heading--h3">Delivery Details</h3>

        <form method="post" class="form js-delivery-details-form">
          <div class="form__row">
            <div class="form__field js-form-field">
                <label for="phone" class="form__label">phone number *</label>
                <div class="form__input-wrap">
                    <input type="text" id="phone" name="phone" value="{% if delivery_details.phone %}{{ delivery_details.phone }}{% endif %}" placeholder="Your phone number">
                </div>
            </div>

            <div class="form__field js-form-field">
              <label for="country" class="form__label">country *</label>
              <div class="form__input-wrap">
                  <input type="text" id="country" name="country" value="{% if delivery_details.country %}{{ delivery_details.country }}{% endif %}" placeholder="Your country">
              </div>
            </div>
          </div>

          <div class="form__row">
            <div class="form__field js-form-field">
                <label for="state" class="form__label">state *</label>
                <div class="form__input-wrap">
                    <input type="text" id="state" name="state" value="{% if delivery_details.state %}{{ delivery_details.state }}{% endif %}" placeholder="Your state">
                </div>
            </div>

            <div class="form__field js-form-field">
              <label for="city" class="form__label">city *</label>
              <div class="form__input-wrap">
                  <input type="text" id="city" name="city" value="{% if delivery_details.city %}{{ delivery_details.city }}{% endif %}" placeholder="Your city">
              </div>
            </div>
          </div>

          <div class="form__row">
            <div class="form__field js-form-field">
                <label for="street" class="form__label">street *</label>
                <div class="form__input-wrap">
                    <input type="text" id="street" name="street" value="{% if delivery_details.street %}{{ delivery_details.street }}{% endif %}" placeholder="Your street">
                </div>
            </div>

            <div class="form__field js-form-field">
              <label for="housenumber" class="form__label">house number *</label>
              <div class="form__input-wrap">
                  <input type="text" id="housenumber" name="housenumber" value="{% if delivery_details.housenumber %}{{ delivery_details.housenumber }}{% endif %}" placeholder="Your house number">
              </div>
            </div>
          </div>

          <div class="form__row">
            <div class="form__field js-form-field">
                <label for="apartmentnumber" class="form__label">apartament number</label>
                <div class="form__input-wrap">
                    <input type="text" id="apartmentnumber" name="apartmentnumber" value="{% if delivery_details.apartmentnumber %}{{ delivery_details.apartmentnumber }}{% endif %}" placeholder="Your apartament number">
                </div>
            </div>

            <div class="form__field js-form-field">
              <label for="postalcode" class="form__label">postal code *</label>
              <div class="form__input-wrap">
                  <input type="text" id="postalcode" name="postalcode" value="{% if delivery_details.postalcode %}{{ delivery_details.postalcode }}{% endif %}" placeholder="Your postal code">
              </div>
            </div>
          </div>
  
          <div class="form__row form__row--submit">
            <div class="form__field form__field--submit">
                <button class="btn btn--primary btn--wide" type="submit">Edit delivery details</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block page_scripts_last %}
<script src="{% static 'js/user.js' %}"></script>
{% endblock %}