<h3>Hi {% if user.profile.firstname %}{{ user.profile.firstname }}{% else %}{{ user.username }}{% endif %},</h3>

<p>Below you will find instructions on how to reset your password for your Prestig account.</p>

<ol>
  <li>Click <a href="{% if request.is_secure %}https{% else %}http{% endif %}://{{ domain }}{% url 'change-password' uuid %}">here</a>.</li>
  <li>Enter your new password.</li>
  <li>Done!</li>
</ol>

<p>You can continue using our platform without any restrictions.</p>

<p>
  <strong>
    Sincerely, <br>
    The Prestig Team.
  </strong>
</p>