{% extends 'core/base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<section class="my-account">
  <div class="container container--narrow">
    <div class="row">
      <div class="my-account__col">
        <h4 class="my-account__col__heading heading heading--h4">My Account</h4>

        <img src="{{ profile.profilepicture.url }}" class="my-account__avatar" alt="user avatar">
        <h5 class="my-account__username__heading heading heading--h5">{{ user.username }}</h5>
        <p class="my-account__email">{{ user.email }}</p>
        <a href="{% url 'account-settings' %}" class="btn btn--primary">Edit Account Info</a>
      </div>
      
      <div class="my-account__col">
        <h4 class="my-account__col__heading heading heading--h4">Profile Info</h4>

        <ul class="my-account__details">
          <li>
            <h6 class="my-account__details__heading heading heading--h6">First Name</h6>
            <p>{% if profile.firstname %}{{ profile.firstname }}{% else %}-{% endif %}</p>
          </li>

          <li>
            <h6 class="my-account__details__heading heading heading--h6">Last Name</h6>
            <p>{% if profile.lastname %}{{ profile.lastname }}{% else %}-{% endif %}</p>
          </li>

          <li>
            <h6 class="my-account__details__heading heading heading--h6">Date of Birth</h6>
            <p>{% if profile.dateofbirth %}{{ profile.dateofbirth }}{% else %}-{% endif %}</p>
          </li>

          <li>
            <h6 class="my-account__details__heading heading heading--h6">Bio</h6>
            <p>{% if profile.bio %}{{ profile.bio }}{% else %}-{% endif %}</p>
          </li>

          <li>
            <h6 class="my-account__details__heading heading heading--h6">Gender</h6>
            <p>{% if profile.gender %}{{ profile.gender }}{% else %}-{% endif %}</p>
          </li>

          <li>
            <h6 class="my-account__details__heading heading heading--h6">Facebook</h6>
            <p>
              {% if profile.facebook %}<a href="https://www.facebook.com/{{ profile.facebook }}" target="_blank">Link to Profile</a>{% else %}-{% endif %}
            </p>
          </li>

          <li>
            <h6 class="my-account__details__heading heading heading--h6">Instagram</h6>
            <p>
              {% if profile.instagram %}<a href="https://www.instagram.com/{{ profile.instagram }}" target="_blank">Link to Profile</a>{% else %}-{% endif %}
            </p>
          </li>
        </ul>

        <a href="{% url 'profile-settings' %}" class="btn btn--primary">Edit profile info</a>
      </div>
      
      <div class="my-account__col">
        <h4 class="my-account__col__heading heading heading--h4">Delivery Details</h4>

        <ul class="my-account__details">
          <li>
            <h6 class="my-account__details__heading heading heading--h6">Phone Number</h6>
            <p>{% if delivery_details.phone %}{{ delivery_details.phone }}{% else %}-{% endif %}</p>
          </li>
          
          <li>
            <h6 class="my-account__details__heading heading heading--h6">Country</h6>
            <p>{% if delivery_details.country %}{{ delivery_details.country }}{% else %}-{% endif %}</p>
          </li>

          <li>
            <h6 class="my-account__details__heading heading heading--h6">State</h6>
            <p>{% if delivery_details.state %}{{ delivery_details.state }}{% else %}-{% endif %}</p>
          </li>

          <li>
            <h6 class="my-account__details__heading heading heading--h6">City</h6>
            <p>{% if delivery_details.city %}{{ delivery_details.city }}{% else %}-{% endif %}</p>
          </li>

          <li>
            <h6 class="my-account__details__heading heading heading--h6">Street</h6>
            <p>{% if delivery_details.street %}{{ delivery_details.street }}{% else %}-{% endif %}</p>
          </li>

          <li>
            <h6 class="my-account__details__heading heading heading--h6">House Number</h6>
            <p>{% if delivery_details.housenumber %}{{ delivery_details.housenumber }}{% else %}-{% endif %}</p>
          </li>

          <li>
            <h6 class="my-account__details__heading heading heading--h6">Apartament Number</h6>
            <p>{% if delivery_details.apartmentnumber %}{{ delivery_details.apartmentnumber }}{% else %}-{% endif %}</p>
          </li>

          <li>
            <h6 class="my-account__details__heading heading heading--h6">Postal Code</h6>
            <p>{% if delivery_details.postalcode %}{{ delivery_details.postalcode }}{% else %}-{% endif %}</p>
          </li>
        </ul>

        <a href="{% url 'delivery-details' %}" class="btn btn--primary">Edit delivery details</a>
      </div>
    </div>
  </div>
</section>
{% endblock %}