{% extends 'core/base.html' %}
{% load static %}
{% load string_filters %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<section class="account">
  <div class="container container--narrow">
    <div class="row">
      {% include 'accounts/account-aside.html' %}

      <div class="account__content">
        <h3 class="account__content__heading heading heading--h3">Profile Settings</h3>

        <form method="post" class="form js-profile-settings-form">
          <div class="form__row">
            <div class="form__field js-form-field">
                <label for="firstname" class="form__label">first name *</label>
                <div class="form__input-wrap">
                    <input type="text" id="firstname" name="firstname" value="{% if profile.firstname %}{{ profile.firstname }}{% endif %}" placeholder="Your firstname">
                </div>
            </div>

            <div class="form__field js-form-field">
              <label for="lastname" class="form__label">last name *</label>
              <div class="form__input-wrap">
                  <input type="text" id="lastname" name="lastname" value="{% if profile.lastname %}{{ profile.lastname }}{% endif %}" placeholder="Your last name">
              </div>
            </div>
          </div>

          <div class="form__row">
            <div class="form__field js-form-field">
              <label for="dateofbirth" class="form__label">date of birth</label>
              <div class="form__input-wrap">
                  <input type="date" id="dateofbirth" name="dateofbirth" value="{% if profile.dateofbirth %}{{ profile.dateofbirth }}{% endif %}" max="{{ max }}">
              </div>
            </div>
          </div>

          <div class="form__row">
            <div class="form__field js-form-field">
              <label for="profilepicture" class="form__label">upload profile picture</label>
              <div class="form__upload-container js-form-upload-container">
                <label class="form__upload">
                  <span class="form__upload__text">
                    <i class="ri-upload-2-line" aria-hidden="true"></i>
                    Click or Drag file here...
                  </span>
                  <span role="presentation" class="form__upload__file-name js-form-upload-filelabel">No File Selected</span>
                  <input type="file" name="profilepicture" id="profilepicture" class="form__upload__input js-form-upload-input">
                </label>

                <div class="form__upload-container__image-preview">
                  <span>Profile Picture Preview:</span>
                  <div class="form__upload-container__image-preview__image-wrapper">
                    <img src="{{ profile.profilepicture }}" class="form__upload-container__image-preview__image js-form-upload-preview-image" alt="user avatar">
                    <button type="button" class="form__upload-container__image-preview__delete js-form-upload-delete-image {% if profile.profilepicture_name != 'default_profile_image.png' %}active{% endif %}">
                      <span class="visually-hidden">Delete profile picture</span>
                      <i class="ri-close-line" aria-hidden="true"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form__row">
            <div class="form__field js-form-field">
              <label for="bio" class="form__label">bio</label>
              <div class="form__input-wrap">
                <textarea name="bio" id="bio" placeholder="Write a few words about yourself">{% if profile.bio %}{{ profile.bio }}{% endif %}</textarea>
              </div>
            </div>
          </div>

          {% if genders %}
          <div class="form__row">
            <div class="form__field js-form-field">
              <label class="form__label">gender *</label>
              {% for gender in genders %}
              <div class="form__radio">
                <input class="form__radio__input" type="radio" name="gender" id="{{ gender|lower }}" value="{{ gender|lower }}" {% if profile.gender == gender %}checked{% endif %}>
                <label for="{{ gender|lower }}"><span>{{ gender }}</span></label>
              </div>
              {% endfor %}
            </div>
          </div>
          {% endif %}

          <div class="form__row">
            <div class="form__field js-form-field">
                <label for="facebook" class="form__label">facebook username</label>
                <div class="form__input-wrap">
                    <input type="text" id="facebook" name="facebook" value="{% if profile.facebook %}{{ profile.facebook }}{% endif %}" placeholder="Your facebook username">
                </div>
            </div>

            <div class="form__field js-form-field">
              <label for="instagram" class="form__label">instagram username</label>
              <div class="form__input-wrap">
                  <input type="text" id="instagram" name="instagram" value="{% if profile.instagram %}{{ profile.instagram }}{% endif %}" placeholder="Your instagram username">
              </div>
            </div>
          </div>

          <div class="form__row form__row--submit">
            <div class="form__field form__field--submit">
                <button class="btn btn--primary btn--wide" type="submit">Edit your profile</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block page_scripts_last %}
<script src="{% static 'js/user.js' %}"></script>
{% endblock %}