{% extends 'core/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<section class="profile">
  <div class="container container--narrow">
    <div class="row">
      <aside class="profile__aside">
        <img class="profile__avatar" src="{{ profile.profilepicture.url }}" alt="user avatar">
        <h4 class="heading heading--h4">{{ user.username }}</h4>
        <p>{{ user.email }}</p>
        <h5 class="profile__social-heading heading heading--h5">Social media</h5>

        <ul class="profile__social-list">
          <li>
            <a href="https://www.facebook.com/{{ profile.facebook }}" class="profile__social-list__link profile__social-list__link--facebook" target="_blank">
              <span class="visually-hidden">Facebook link</span>
              <i class="ri-facebook-box-fill" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/{{ profile.instagram }}" class="profile__social-list__link profile__social-list__link--instagram" target="_blank">
              <span class="visually-hidden">Instagram link</span>
              <i class="ri-instagram-fill" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </aside>

      <div class="profile__content">
        <div class="tabs">
          <ul class="tabs__nav">
            <li class="active">
              <button class="tabs__nav__button js-tabs-nav-button active">Basic information</button>
            </li>
            <li>
              <button class="tabs__nav__button js-tabs-nav-button">Product reviews</button>
            </li>
            <li>
              <button class="tabs__nav__button js-tabs-nav-button">Blog comments</button>
            </li>
            <li>
              <button class="tabs__nav__button js-tabs-nav-button">Articles</button>
            </li>
          </ul>
        </div>

        <div class="tabs__contents">
          <div class="tabs__contents__item js-tab-contents-item active">
            <div class="profile__info">
              <div class="profile__info__block">
                <h6 class="profile__info__block__heading heading heading--h6">First Name</h6>
                <p>{% if profile.firstname %}{{ profile.firstname }}{% else %}-{% endif %}</p>
              </div>

              <div class="profile__info__block">
                <h6 class="profile__info__block__heading heading heading--h6">Last name</h6>
                <p>{% if profile.lastname %}{{ profile.lastname }}{% else %}-{% endif %}</p>
              </div>

              <div class="profile__info__block">
                <h6 class="profile__info__block__heading heading heading--h6">About me</h6>
                <p>{% if profile.bio %}{{ profile.bio }}{% else %}-{% endif %}</p>
              </div>

              <div class="profile__info__block">
                <h6 class="profile__info__block__heading heading heading--h6">Date of birth</h6>
                <p>{% if profile.dateofbirth %}{{ profile.dateofbirth }}{% else %}-{% endif %}</p>
              </div>

              <div class="profile__info__block">
                <h6 class="profile__info__block__heading heading heading--h6">Gender</h6>
                <p>{% if profile.gender %}{{ profile.gender }}{% else %}-{% endif %}</p>
              </div>

              <div class="profile__info__block">
                <h6 class="profile__info__block__heading heading heading--h6">Country</h6>
                <p>{% if delivery_details.country %}{{ delivery_details.country }}{% else %}-{% endif %}</p>
              </div>

              <div class="profile__info__block">
                <h6 class="profile__info__block__heading heading heading--h6">City</h6>
                <p>{% if delivery_details.city %}{{ delivery_details.city }}{% else %}-{% endif %}</p>
              </div>
            </div>
          </div>

          <div class="tabs__contents__item js-tab-contents-item">
            No reviews.
            <!-- warunek to wyżej lub to niżej -->
             <ul class="profile__info-list">
              <li>
                <a href="#">
                  <i class="ri-user-star-line" aria-hidden="true"></i>
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias sed et deleniti, ipsa officiis eius?
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="ri-user-star-line" aria-hidden="true"></i>
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit repellendus molestias aliquam delectus, unde cumque esse provident beatae? Tempora, corrupti excepturi dolore aliquam voluptatem ex?
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="ri-user-star-line" aria-hidden="true"></i>
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias sed et deleniti, ipsa officiis eius?
                </a>
              </li>
             </ul>
          </div>

          <div class="tabs__contents__item js-tab-contents-item">
            {% if comments %}
             <ul class="profile__info-list">
               {% for comment in comments %}
              <li>
                <a href="{{ comment.article.get_absolute_url }}">
                  <i class="ri-chat-4-line" aria-hidden="true"></i>
                  {{ comment.comment }}
                </a>
              </li>
               {% endfor %}
             </ul>
            {% else %}
            No Comments
            {% endif %}
          </div>

          <div class="tabs__contents__item js-tab-contents-item">
            No articles.
            <!-- warunek to wyżej lub to niżej -->
             <ul class="profile__info-list">
              <li>
                <a href="#">
                  <i class="ri-article-line" aria-hidden="true"></i>
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias sed et deleniti, ipsa officiis eius?
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="ri-article-line" aria-hidden="true"></i>
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit repellendus molestias aliquam delectus, unde cumque esse provident beatae? Tempora, corrupti excepturi dolore aliquam voluptatem ex?
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="ri-article-line" aria-hidden="true"></i>
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias sed et deleniti, ipsa officiis eius?
                </a>
              </li>
             </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}