{% extends 'core/base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<section class="account">
  <div class="container container--narrow">
    <div class="row">
      {% include 'accounts/account-aside.html' %}

      <div class="account__content">
        <h3 class="account__content__heading heading heading--h3">Purchased Products</h3>

        <!-- <form method="post" class="form js-account-settings-form">
          <div class="form__row">
            <div class="form__field js-form-field">
                <label for="username" class="form__label">username *</label>
                <div class="form__input-wrap">
                    <input type="text" id="username" name="username" value="" placeholder="Your username">
                </div>
            </div>

            <div class="form__field js-form-field">
              <label for="email" class="form__label">email *</label>
              <div class="form__input-wrap">
                  <input type="text" id="email" name="email" value="" placeholder="Your email">
              </div>
            </div>
          </div>

          <div class="form__row">
            <div class="form__field js-form-field">
              <label for="password" class="form__label">password *</label>
              <div class="form__input-wrap">
                  <input type="password" id="password" name="password" value="" placeholder="Type password (leave blank if don't want to change)">
              </div>
            </div>

            <div class="form__field js-form-field">
              <label for="repassword" class="form__label">Confirm Password *</label>
              <div class="form__input-wrap">
                  <input type="password" id="repassword" name="repassword" value="" placeholder="Confirm Password (leave blank if don't want to change)">
              </div>
            </div>
          </div>
  
          <div class="form__row form__row--submit">
            <div class="form__field form__field--submit">
                <button class="btn btn--primary btn--wide" type="submit">Edit your account</button>
            </div>
          </div>
        </form> -->
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block page_scripts_last %}
<script src="{% static 'js/user.js' %}"></script>
{% endblock %}