{% extends 'core/base.html' %}
{% load date_filters %}
{% load article_filters %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<section class="blog">
  <div class="container container--narrow">
    <div class="row">
      <div class="blog__content">
        <h4 class="blog__content__heading heading heading--h4">Tag: {{ title }}</h4>

        <div class="blog__cards">
          {% for page in pages %}
            <div class="blog-card">
              <a href="{{ page.get_absolute_url }}" class="blog-card__image">
                <img src="{{ page.article_image.image.url }}" alt="{{ page.article_image.alt }}">
              </a>

              <div class="blog-card__date">{{ page.created_at|format_date }}</div>

              <h4 class="blog-card__heading heading heading--h4">
                <a href="{{ page.get_absolute_url }}">
                  {{ page.title }}
                </a>
              </h4>

              <div class="blog-card__intro">
                {{ page.description|truncate_and_safe }}...
              </div>

              <a href="{{ page.get_absolute_url }}" class="blog-card__more-btn">
                <span>Read more</span>
                <i class="ri-arrow-right-up-line" aria-hidden="true"></i>
              </a>
            </div>
          {% endfor %} 
        </div>

        {% if pages.paginator.count > 6 %}
        {% include 'blog/pagination.html' %}
        {% endif %}
      </div>

      {% include 'blog/sidebar.html' %}
    </div>
  </div>
</section>
{% endblock %}