{% extends 'core/base.html' %}
{% load static %}
{% load date_filters %}
{% load decode_filters %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<section class="blog">
  <div class="container container--narrow">
    <div class="row">
      <div class="blog__content">
        <article class="article">
          <div class="article__top-info">
            <span class="article__top-info__date">{{ article.created_at|format_date }}</span>
            <span class="article__top-info__author">
              By <a href="{% url 'profile' article.user.username %}">{% if article.user.profile.firstname and article.user.profile.lastname %}{{ article.user.profile.firstname }} {{ article.user.profile.lastname }}{% else %}{{ article.user.username }}{% endif %}</a>
            </span>
          </div>

          <h2 class="article__heading heading heading--h2">{{ article.title }}</h2>

          <img src="{{ article.article_image.image.url }}" alt="Article main image" class="article__image">

          <div class="article__content">
            {{ article.description|safe }}
          </div>

          <div class="article__footer">
            <div class="article__footer__tags">
              <span>Tags:</span>
              <ul class="article__footer__tags__list">
                {% for tag in article.article_tags.all %}
                  <li>
                    <a href="{{ tag.get_absolute_url }}">
                      {{ tag.name }}{% if not forloop.last %},{% endif %}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </div>

            <div class="article__footer__share">
              <span>Share:</span>
              <ul class="article__footer__share__icons">
                <li>
                  <a href="#">
                    <span class="visually-hidden">Linkedin link</span>
                    <i class="ri-linkedin-fill" aria-hidden="true"></i>
                  </a>
                </li>

                <li>
                  <a href="#">
                    <span class="visually-hidden">Twitter link</span>
                    <i class="ri-twitter-fill" aria-hidden="true"></i>
                  </a>
                </li>

                <li>
                  <a href="#">
                    <span class="visually-hidden">Facebook link</span>
                    <i class="ri-facebook-fill" aria-hidden="true"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <div class="article__bio">
            <div class="article__bio__image">
              <img src="{{ article.user.profile.profilepicture.image.url }}" alt="{{ article.user.profile.profilepicture.alt }}">
            </div>

            <div class="article__bio__content">
              <h5 class="heading heading--h5">{% if article.user.profile.firstname and article.user.profile.lastname %}{{ article.user.profile.firstname }}  {{article.user.profile.lastname}}{% else %}{{ article.user.username }}{% endif %}</h5>
              <p class="article__bio__content__text">{{ article.user.profile.bio }}</p>

              <ul class="article__bio__content__social-list">
                <li>
                  <a href="#">
                    <span class="visually-hidden">Linkedin link</span>
                    <i class="ri-linkedin-fill" aria-hidden="true"></i>
                  </a>
                </li>

                <li>
                  <a href="#">
                    <span class="visually-hidden">Twitter link</span>
                    <i class="ri-twitter-fill" aria-hidden="true"></i>
                  </a>
                </li>

                <li>
                  <a href="#">
                    <span class="visually-hidden">Youtube link</span>
                    <i class="ri-youtube-fill" aria-hidden="true"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <form class="article__comment-form form js-article-comment-form">
            <h3 class="heading heading--h3">Write your opinion</h3>
            <p class="article__comment-form__text">Your email address will not be published. Required fields are marked *</p>

            <input type="hidden" name="slug" value="{{ article.slug }}">

            <div class="form__row">
              <div class="form__field js-form-field">
                  <div class="form__input-wrap">
                      <textarea type="text" id="comment" name="comment" placeholder="Write your comment *"></textarea>
                  </div>
              </div>
            </div>

            {% if request.user.is_anonymous %}
            <div class="form__row">
              <div class="form__field js-form-field">
                  <div class="form__input-wrap">
                      <input type="text" id="fullname" name="fullname" {% if request.COOKIES.fullname %}value="{{ request.COOKIES.fullname|decode }}"{% endif %} placeholder="Your name *">
                  </div>
              </div>

              <div class="form__field js-form-field">
                <div class="form__input-wrap">
                    <input type="text" id="email" name="email" {% if request.COOKIES.email %}value="{{ request.COOKIES.email|decode }}"{% endif %} placeholder="Your email *">
                </div>
              </div>
            </div>
            {% endif %}

            {% if request.user.is_anonymous %}
            <div class="form__row">
              <div class="form__field js-form-field">
                <div class="form__checkbox">
                  <input class="form__checkbox__input" type="checkbox" name="save" id="save" value="1">
                  <label for="save"><span>Save my name and email in this browser for the next time I comment.</span></label>
                </div>
              </div>
            </div>
            {% endif %}

            <div class="form__row form__row--submit">
              <div class="form__field form__field--submit">
                  <button class="btn btn--primary" type="submit">Post comment</button>
              </div>
            </div>
          </form>

          <div class="article__comments js-article-comments" id="comments">
            <div class="article__comments__counter heading heading--h5">
              <span class="js-article-comments-total">{{ total_comments }}</span>
              {% if total_comments == 0 %}comments{% elif total_comments == 1 %}comment{% else %}comments{% endif %} on this article
            </div>

            <div class="article__comments__wrapper">
              {% for comment in comments %}
                <div class="article__comment js-article-comment" data-id="{{ comment.id }}">
                  <div class="article__comment__info">
                    <div class="article__comment__info__avatar">
                      <a href="{% url 'profile' comment.user.username %}">
                        <img src="{% if comment.user != None %}{{ comment.user.profile.profilepicture.image.url }}{% else %}/media/profile_images/default_profile_image.png{% endif %}" alt="{{ comment.user.profile.profilepicture.alt }}">
                      </a>
                    </div>

                    <div class="article__comment__info__content">
                      <a href="{% url 'profile' comment.user.username %}">
                        <h6 class="heading heading--h6">{% if comment.user != None %}{% if comment.user.profile.firstname and comment.user.profile.lastname %}{{ comment.user.profile.firstname }} {{ comment.user.profile.lastname }}{% else %}{{ comment.user.username }}{% endif %}{% else %}{{ comment.fullname }}{% endif %}</h6>
                      </a>
                      <p class="article__comment__info__content__date">{{ comment.created_at|date:"Y-m-d H:i" }}</p>
                    </div>
                  </div>

                  <div class="article__comment__content js-article-comment-content">
                      {{ comment.comment }}
                  </div>

                  {% if request.user == comment.user %}
                  <div class="article__comment__controls">
                    <button class="article__comment__controls__button article__comment__controls__button--edit js-edit-article-comment-button">
                      <span class="visually-hidden">Edit comment</span>
                      <i class="ri-edit-2-line" aria-hidden="true"></i>
                    </button>

                    <form class="article__comment__delete-form js-delete-article-comment-form">
                      <input type="hidden" name="commentid" value="{{ comment.id }}">
  
                      <button type="submit" class="article__comment__controls__button article__comment__controls__button--delete">
                        <span class="visually-hidden">Delete comment</span>
                        <i class="ri-delete-bin-line" aria-hidden="true"></i>
                      </button>
                    </form>
                  </div>
                  {% endif %}
                </div>
              {% endfor %}
            </div>
          </div>
        </article>
      </div>

      {% include 'blog/sidebar.html' %}
    </div>
  </div>
</section>
{% endblock %}

{% block page_scripts_last %}
<script src="{% static 'js/blog.js' %}"></script>
{% endblock %}