{% extends 'core/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<section class="blog">
  <div class="container container--narrow">
    <div class="row">
      <div class="blog__content">
        <h4 class="blog__content__heading heading heading--h4">Category: {{ title }}</h4>

        <div class="blog__cards">
          {% for article in articles %}
            <div class="blog-card">
              <a href="{{ article.get_absolute_url }}" class="blog-card__image">
                <img src="{{ article.image.url }}" alt="Article thumbnail">
              </a>

              <div class="blog-card__date">{{ article.created_at|date:"Y-m-d H:i" }}</div>

              <h4 class="blog-card__heading heading heading--h4">
                <a href="{{ article.get_absolute_url }}">
                  {{ article.title }}
                </a>
              </h4>

              <p class="blog-card__intro">
                {{ article.description|truncatechars:100 }}
              </p>

              <a href="{{ article.get_absolute_url }}" class="blog-card__more-btn">
                <span>Read more</span>
                <i class="ri-arrow-right-up-line" aria-hidden="true"></i>
              </a>
            </div>
          {% endfor %} 
        </div>

        <ul class="pagination">
          <li>
            <a class="active" href="#">01</a>
          </li>
          <li>
            <a href="#">02</a>
          </li>
          <li>
            <a href="#">03</a>
          </li>
          <li>
            <a href="#">
              <span class="visually-hidden">Last page</span>
              <i class="ri-arrow-right-line" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </div>

      {% include 'blog/sidebar.html' %}
    </div>
  </div>
</section>
{% endblock %}