{% extends 'core/base.html' %}
{% load date_filters %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<section class="blog">
  <div class="container container--narrow">
    <div class="row">
      <div class="blog__content">
        {% if request.GET.keyword or request.GET.keyword == '' %}
        <h4 class="blog__content__heading heading heading--h4">Searching keyword: {{ request.GET.keyword }}</h4>
        {% endif %}
        <div class="blog__cards">
          {% for article in articles %}
            <div class="blog-card">
              <a href="{{ article.get_absolute_url }}" class="blog-card__image">
                <img src="{{ article.image.url }}" alt="Article thumbnail">
              </a>

              <div class="blog-card__date">{{ article.created_at|format_date }}</div>

              <h4 class="blog-card__heading heading heading--h4">
                <a href="{{ article.get_absolute_url }}">
                  {{ article.title }}
                </a>
              </h4>

              <p class="blog-card__intro">
                {{ article.description|truncatechars:100 }}
              </p>

              <a href="{% url 'article-details' article.article_category.slug article.slug %}" class="blog-card__more-btn">
                <span>Read more</span>
                <i class="ri-arrow-right-up-line" aria-hidden="true"></i>
              </a>
            </div>
          {% endfor %} 
        </div>

        {% if articles|length > 6 %}
        {% include 'blog/pagination.html' %}
        {% endif %}
      </div>

      {% include 'blog/sidebar.html' %}
    </div>
  </div>
</section>
{% endblock %}