{% extends 'core/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

{% include 'core/page-title.html' %}
<!-- ABOUT SIDE IMAGE -->
<section class="about-image">
  <div class="container container--narrow">
    <div class="row">
      <div class="about-image__image">
        <div class="about-image__image__wrapper">
          <img src="/media/about/about-image.jpg" alt="Woman with shopping bags">

          <div class="about-image__image__wrapper__overlay">
            <div class="about-image__image__wrapper__overlay__inner">
              <div class="heading heading--h2">Since<br> 2010</div>
            </div>
          </div>
        </div>
      </div>

      <div class="about-image__content">
        <h2 class="heading heading--h2">Discover Our Store</h2>
        <p class="about-image__text">
          Welcome to Prestig, where luxury meets everyday elegance. Our online store offers a meticulously curated selection of high-fashion clothing and accessories for women, men, and children. Immerse yourself in sophistication with our exclusive collections that blend contemporary trends with timeless appeal. Every piece is crafted to elevate your style and comfort. Explore our range and embrace refined dressing.
        </p>

        <ul class="about-image__list">
          <li class="about-image__list__item">
            <div class="about-image__list__item__icon">
              <img src="/media/about/icons/check.svg" alt="check icon" aria-hidden="true">
            </div>

            <div class="about-image__list__item__text">
              <h5 class="about-image__list__item__text__heading heading heading--h5">Pioneering Fashion Excellence</h5>
              <p>At Prestig, we lead the industry by setting new standards in fashion. Our commitment to excellence and innovation drives us to continually refine our offerings and provide unparalleled quality. We take pride in being at the forefront of fashion, delivering exceptional pieces that resonate with modern elegance.</p>
            </div>
          </li>

          <li class="about-image__list__item">
            <div class="about-image__list__item__icon">
              <img src="/media/about/icons/check.svg" alt="check icon" aria-hidden="true">
            </div>

            <div class="about-image__list__item__text">
              <h5 class="about-image__list__item__text__heading heading heading--h5">Celebrate Individual Style</h5>
              <p>Fashion is an expression of who you are, and at Prestig, we celebrate your individuality. Our diverse collection is designed to cater to all tastes and preferences, ensuring that you find garments that perfectly reflect your personal style. Embrace your uniqueness with our exclusive fashion pieces.</p>
            </div>
          </li>
        </ul>

        <a class="btn btn--primary" href="{% url 'shop' %}">Show now</a>
      </div>
    </div>
  </div>
</section>

<!-- ABOUT VIDEO -->
<section class="about-video">
  <div class="container">
    <div class="row">
        <button class="about-video__btn js-videopopup-btn" data-video="/media/about/video.mp4">
          <span class="visually-hidden">Open video popup</span>
          <i class="ri-play-line"></i>
        </button>
    </div>
  </div>
</section>

<!-- WHY US -->
<section class="why-us">
  <div class="container container--narrow">
    <div class="row why-us__heading-row">
      <h2 class="heading heading--h2">Why Choose Our Online Store</h2>
      <p class="why-us__text">
        At Prestig, we blend convenience with luxury to deliver an unparalleled shopping experience. Our curated collections for every season embody our dedication to quality, innovation, and style. Enjoy the ease of shopping online while accessing exclusive fashion that enhances your wardrobe with elegance and sophistication.
      </p>
    </div>

    <div class="row why-us__blocks-row">
      <div class="why-us__block">
        <img src="/media/about/icons/icon1.svg" alt="quality icon" class="why-us__block__icon" aria-hidden="true">
        <h5 class="why-us__block__heading heading heading--h5">Uncompromising Quality</h5>
        <p>Our products are meticulously curated for superior quality and durability. We ensure each item meets our high standards, providing you with exceptional value and long-lasting satisfaction.</p>
      </div>
      
      <div class="why-us__block">
        <img src="/media/about/icons/icon2.svg" alt="customer service icon" class="why-us__block__icon" aria-hidden="true">
        <h5 class="why-us__block__heading heading heading--h5">Outstanding Customer Support</h5>
        <p>Your satisfaction is our priority. Our dedicated support team is always ready to assist you, ensuring that every aspect of your shopping experience is smooth and enjoyable.</p>
      </div>

      <div class="why-us__block">
        <img src="/media/about/icons/icon3.svg" alt="user friendly icon" class="why-us__block__icon" aria-hidden="true">
        <h5 class="why-us__block__heading heading heading--h5">Seamless User Experience</h5>
        <p>Our website offers a smooth, intuitive shopping experience. Designed with you in mind, it makes browsing and purchasing fashion effortless from start to finish.</p>
      </div>

      <div class="why-us__block">
        <img src="/media/about/icons/icon4.svg" alt="shipping icon" class="why-us__block__icon" aria-hidden="true">
        <h5 class="why-us__block__heading heading heading--h5">Efficient and Secure Shipping</h5>
        <p>We provide reliable and secure shipping options, ensuring your fashion finds arrive safely and swiftly at your doorstep. Shop with confidence knowing your order is in good hands.</p>
      </div>

      <div class="why-us__block">
        <img src="/media/about/icons/icon5.svg" alt="bag icon" class="why-us__block__icon" aria-hidden="true">
        <h5 class="why-us__block__heading heading heading--h5">Accessible Luxury</h5>
        <p>Discover the elegance of luxury fashion at competitive prices. Our affordable pricing allows you to enjoy high-quality style without breaking the bank.</p>
      </div>

      <div class="why-us__block">
        <img src="/media/about/icons/icon6.svg" alt="promotions icon" class="why-us__block__icon" aria-hidden="true">
        <h5 class="why-us__block__heading heading heading--h5">Exclusive Offers and Promotions</h5>
        <p>Keep an eye out for our exclusive deals and promotions. We offer regular savings on your favorite fashion pieces, providing added value with every purchase.</p>
      </div>
    </div>
  </div>
</section>

<!-- TESTIMONIALS -->
<section class="testimonials">
  <div class="container">
      <div class="row">
          <h2 class="testimonials__heading heading heading--h2">What Our People Says</h2>

          <div class="swiper testimonials__slider js-testimonials-slider">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="testimonials__slider__item">
                      <p class="testimonials__content">
                          Prestig is my go-to for stylish and high-quality fashion. The variety and elegance of their collections always impress me. Shopping here is easy, and the service is excellent.
                      </p>

                      <div class="testimonials__author">
                          <img class="testimonials__author__image" src="/media/home/testimonials/man4.jpg" alt="Testimony author">
                          <h5 class="heading heading--h5">Michael Anderson</h5>
                          <p>Sydney, Australia</p>
                      </div>
                  </div>
                </div>
                
                <div class="swiper-slide">
                  <div class="testimonials__slider__item">
                      <p class="testimonials__content">
                          I've been shopping at Prestig for several months now, and I've been consistently impressed. The clothing is top-notch, and the customer support is responsive and helpful. Highly recommended!
                      </p>

                      <div class="testimonials__author">
                          <img class="testimonials__author__image" src="/media/home/testimonials/man5.jpg" alt="Testimony author">
                          <h5 class="heading heading--h5">David Johnson</h5>
                          <p>Toronto, Canada</p>
                      </div>
                  </div>
                </div>

                <div class="swiper-slide">
                  <div class="testimonials__slider__item">
                      <p class="testimonials__content">
                          Prestig offers a fantastic selection of luxury fashion at great prices. The website is user-friendly, and my orders always arrive promptly. It’s become my favorite online shopping destination.
                      </p>

                      <div class="testimonials__author">
                          <img class="testimonials__author__image" src="/media/home/testimonials/man6.jpg" alt="Testimony author">
                          <h5 class="heading heading--h5">Juan Pérez</h5>
                          <p>Buenos Aires, Argentina</p>
                      </div>
                  </div>
                </div>
              </div>
              
              <div class="testimonials__slider__arrow testimonials__slider__arrow--left js-arrow-left">
                  <i class="ri-arrow-left-s-line" aria-hidden="true"></i>
              </div>
              <div class="testimonials__slider__arrow testimonials__slider__arrow--right js-arrow-right">
                  <i class="ri-arrow-right-s-line" aria-hidden="true"></i>
              </div>
          </div>
      </div>
  </div>
</section>
{% endblock %}