{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--title-->
    {% if title %}
    <title>{% block title %}{% endblock %} | Prestig</title>
    {% else %}
    <title>Prestig</title>
    {% endif %}

    <!--favicon-->
    <link rel="icon" type="image/png" href="/media/favicon.png">

    <!--fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">

    <!--custom css block on page-->
    {% block page_css %}{% endblock %}

    <!--remixicons-->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet"/>

    <!--swiper js-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>

    <!--custom css-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
    {% include 'core/header.html' %}

    <main>
    {% if messages %}
    {% for message in messages %}
        <div class="message-bar message-bar--{{ message.tags }} js-message-bar">
            <button class="message-bar__close js-message-bar-close">
                <i class="ri-close-line" aria-hidden="true"></i>
                <span class="visually-hidden">Close message bar</span>
            </button>
            <p>
            {{ message }}
            </p>
        </div>
    {% endfor %}
    {% endif %}

    {% block content %}{% endblock %}
    </main>

    {% include 'core/footer.html' %}

    <!--csrf token-->
    <script>const csrfToken = '{{ csrf_token }}'</script>

    <!--custom js scripts block on page-->
    {% block page_scripts %}{% endblock %}

    <!--swiper js-->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <!--global js-->
    <script src="{% static 'js/global.js' %}"></script>

    <!--custom js-->
    <script src="{% static 'js/scripts.js' %}"></script>

    <!--custom last js scripts block on page-->
    {% block page_scripts_last %}{% endblock %}
</body>
</html>