{% extends 'core/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block page_css %}
<!--leaflet-->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
crossorigin=""/>
{% endblock %}

{% block content %}

{% include 'core/page-title.html' %}

<!-- CONTACT FORM -->
<section class="contact-form">
  <div class="container container--narrow">
    <div class="row">
      <form class="form form--narrow js-contact-form">
        <div class="form__row">
          <div class="form__field js-form-field">
              <label for="fullname" class="form__label">full name *</label>
              <div class="form__input-wrap">
                  <input type="text" id="fullname" name="fullname" placeholder="Full Name">
              </div>
          </div>

          <div class="form__field js-form-field">
            <label for="email" class="form__label">email *</label>
            <div class="form__input-wrap">
                <input type="text" id="email" name="email" placeholder="Your email">
            </div>
          </div>
        </div>

        <div class="form__row">
          <div class="form__field js-form-field">
              <label for="subject" class="form__label">subject *</label>
              <div class="form__input-wrap">
                  <input type="text" id="subject" name="subject" placeholder="Email subject">
              </div>
          </div>
        </div>

        <div class="form__row">
          <div class="form__field js-form-field">
              <label for="message" class="form__label">message *</label>
              <div class="form__input-wrap">
                  <textarea type="text" id="message" name="message" placeholder="Message text"></textarea>
              </div>
          </div>
        </div>

        <div class="form__row form__row--submit">
          <div class="form__field form__field--submit">
              <button class="btn btn--primary" type="submit">Send message</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>

<!-- CONTACT INFO -->
<section class="contact-info">
  <div class="container container--narrow">
    <div class="row">
      <div class="contact-info__content">
        <h2 class="heading heading--h2">Reach out to us</h2>

        <p class="contact-info__text">
          We're here to assist you in every way possible. If you have questions, concerns, or feedback, don't hesitate to get in touch with our dedicated team. We strive to provide you with the best service possible.
        </p>

        <div class="contact-info__blocks">
          <div class="contact-info__blocks__item">
            <div class="contact-info__blocks__item__icon-wrapper">
              <img src="/media/icons/contact1.svg" alt="address icon" aria-hidden="true">
            </div>

            <div class="contact-info__blocks__item__text">
              <h4 class="contact-info__blocks__item__text__heading heading heading--h4">Offline store</h4>
              <p>452 15h Street, Office 741, Ohio,<br> De 47754, USA</p>
            </div>
          </div>

          <div class="contact-info__blocks__item">
            <div class="contact-info__blocks__item__icon-wrapper">
              <img src="/media/icons/contact2.svg" alt="email icon" aria-hidden="true">
            </div>

              <div class="contact-info__blocks__item__text">
                <h4 class="contact-info__blocks__item__text__heading heading heading--h4">Email address</h4>
                <p>product@sattiyas.com</p>
              </div>
          </div>

          <div class="contact-info__blocks__item">
            <div class="contact-info__blocks__item__icon-wrapper">
              <img src="/media/icons/contact3.svg" alt="phone icon" aria-hidden="true">
            </div>

              <div class="contact-info__blocks__item__text">
                <h4 class="contact-info__blocks__item__text__heading heading heading--h4">Live support</h4>
                <p>+21 454 451 2009</p>
              </div>
          </div>
        </div>
      </div>

      <div class="contact-info__map">
        <div class="contact-info__map__wrapper" id="map"></div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block page_scripts %}
<!--leaflet-->
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

<script>
  var map = L.map('map').setView([29.133471, -81.342690], 13);

  L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
      maxZoom: 19,
      attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
  }).addTo(map);
</script>
{% endblock %}