<footer class="footer">
  <div class="container container--narrow">
    <div class="row footer__top-row">
      <div class="col">
        <a href="/" class="footer__logo heading heading--h4">Prestig.</a>
        <p class="footer__logo-text">Discover endless delights your one stop eCommerce destination.</p>

        <ul class="footer__banks">
          <li>
            <img src="/media/footer/visa.png" alt="Visa logo">
          </li>

          <li>
            <img src="/media/footer/master-card.png" alt="Master card logo">
          </li>

          <li>
            <img src="/media/footer/paypal.png" alt="Paypal logo">
          </li>

          <li>
            <img src="/media/footer/stripe.png" alt="Stripe logo">
          </li>
        </ul>
      </div>

      <div class="col">
        <h5 class="footer__heading heading heading--h5">Get to know</h5>

        <ul class="footer__links">
          <li>
            <a href="{% url 'about' %}">About Us</a>
          </li>

          <li>
            <a href="{% url 'shop' %}">Shop</a>
          </li>

          <li>
            <a href="{% url 'blog' %}">Blog</a>
          </li>

          <li>
            <a href="{% url 'contact-us' %}">Contact Us</a>
          </li>
        </ul>
      </div>

      <div class="col">
        <h5 class="footer__heading heading heading--h5">Customer service</h5>

        <ul class="footer__links">
          <li>
            <a href="#">Help Center</a>
          </li>
          
          <li>
            <a href="#">Shipping & Delivery</a>
          </li>

          <li>
            <a href="#">Exchange & Return</a>
          </li>

          <li>
            <a href="#">Payment Method</a>
          </li>
        </ul>
      </div>

      <div class="col">
        <h5 class="footer__heading heading heading--h5">Contact Information</h5>

        <p class="footer__contact">
          Call: <a href="tel:+00(244)14-50-774">+00 (244) 14-50-774</a> <br>
          Email: <a href="mailto:info@sattiyas.com">info@prestig.com</a> <br>
          Hours: Mon – Fri, 11 AM – 9 PM
        </p>
      </div>
    </div>

    <div class="row footer__bottom-row">
      <p class="footer__copy">Copyright © 2024, All rights reserved.</p>

      <ul class="footer__links">
        <li>
          <a href="{% url 'privacy-policy' %}">Privacy Policy</a>
        </li>

        <li>
          <a href="#">Terms of Use</a>
        </li>

        <li>
          <a href="#">Legal</a>
        </li>
      </ul>

      <ul class="footer__socials">
        <li>
          <a href="#">
            <span class="visually-hidden">Instagram link</span>
            <i class="ri-instagram-line" aria-hidden="true"></i>
          </a>
        </li>
        
        <li>
          <a href="#">
            <span class="visually-hidden">Facebook link</span>
            <i class="ri-facebook-circle-fill" aria-hidden="true"></i>
          </a>
        </li>

        <li>
          <a href="#">
            <span class="visually-hidden">X link</span>
            <i class="ri-twitter-x-line" aria-hidden="true"></i>
          </a>
        </li>

        <li>
          <a href="#">
            <span class="visually-hidden">Youtube link</span>
            <i class="ri-youtube-fill" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>