<header class="header">
  <div class="container">
    <div class="row">
      <a href="/" class="header__logo heading heading--h4" aria-label="Back to home">Prestig.</a>

      <nav class="header__nav js-header-nav" aria-label="Main" id="main-navigation">
        <ul role="list">
          <li>
            <a class="{% if request.resolver_match.url_name == 'index' %}active{% endif %}" href="/">Home</a>
          </li>

          <li>
            <a class="{% if request.resolver_match.url_name == 'shop' %}active{% endif %}" href="{% url 'shop' %}">Shop</a>
          </li>

          <li>
            <a class="{% if request.resolver_match.url_name == 'product' %}active{% endif %}" href="{% url 'product' %}">Product</a>
          </li>

          <li>
            <a class="{% if request.resolver_match.url_name == 'blog' %}active{% endif %}" href="{% url 'blog' %}">Blog</a>
          </li>

          <li>
            <a class="{% if request.resolver_match.url_name == 'contact-us' %}active{% endif %}" href="{% url 'contact-us' %}">Contact</a>
          </li>
        </ul>
      </nav>

      <div class="header__buttons">
        <button class="mobile-nav-toggler js-mobile-nav-toggler" aria-controls="main-navigation" aria-expanded="false">
          <span class="visually-hidden">Menu</span>
          <i class="ri-menu-3-line" aria-hidden="true"></i>
        </button>

        <button>
          <span class="visually-hidden">Search products</span>
          <i class="ri-search-line" aria-hidden="true"></i>
        </button>

        <div class="header__buttons__dropdown">
          <button>
            <span class="visually-hidden">User menu</span>
            <i class="ri-user-3-line" aria-hidden="true"></i>
          </button>

          <div class="header__buttons__dropdown__nav">
            <ul>
              <li>
                <a href="{% url 'login' %}">Login</a>
              </li>

              <li>
                <a href="{% url 'register' %}">Register</a>
              </li>
            </ul>
          </div>
        </div>

        <button>
          <span class="visually-hidden">Shopping cart</span>
          <i class="ri-shopping-cart-line" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
</header>