<header class="header">
  <div class="container">
    <div class="row">
      <a href="/" class="header__logo heading heading--h4" aria-label="Back to home">Prestig.</a>

      <nav class="header__nav js-header-nav" aria-label="Main" id="main-navigation">
        <ul role="list">
          <li>
            <a class="{% if request.resolver_match.url_name == 'index' %}active{% endif %}" href="/">Home</a>
          </li>

          <li>
            <a class="{% if request.resolver_match.url_name == 'shop' %}active{% endif %}" href="{% url 'shop' %}">Shop</a>
          </li>

          <li>
            <a class="{% if request.resolver_match.url_name == 'product' %}active{% endif %}" href="{% url 'product' %}">Product</a>
          </li>

          <li>
            <a class="{% if request.resolver_match.url_name == 'blog' %}active{% endif %}" href="{% url 'blog' %}">Blog</a>
          </li>

          <li>
            <a class="{% if request.resolver_match.url_name == 'contact-us' %}active{% endif %}" href="{% url 'contact-us' %}">Contact</a>
          </li>
        </ul>
      </nav>

      <div class="header__buttons js-header-buttons">
        <button class="header__buttons__button mobile-nav-toggler js-mobile-nav-toggler" aria-controls="main-navigation" aria-expanded="false">
          <span class="visually-hidden">Menu</span>
          <i class="ri-menu-3-line" aria-hidden="true"></i>
        </button>

        <button class="header__buttons__button">
          <span class="visually-hidden">Search products</span>
          <i class="ri-search-line" aria-hidden="true"></i>
        </button>

        <div class="header__buttons__dropdown">
          <button class="header__buttons__button js-header-dropdown-button">
            <span class="visually-hidden">User menu</span>
            <i class="ri-user-3-line" aria-hidden="true"></i>
          </button>

          <div class="header__buttons__dropdown__content js-header-buttons-dropdown">
            <ul class="header__buttons__dropdown__content__nav">
              {% if not request.user.is_authenticated %}
              <li>
                <a href="{% url 'login' %}">
                  <i class="ri-user-follow-line" aria-hidden="true"></i>
                  Login
                </a>
              </li>

              <li>
                <a href="{% url 'register' %}">
                  <i class="ri-user-shared-2-line" aria-hidden="true"></i>
                  Register
                </a>
              </li>

              {% else %}
              <li>
                <a href="#">
                  <i class="ri-logout-circle-r-line" aria-hidden="true"></i>
                  Settings
                </a>
              </li>
              <li>
                <a href="{% url 'logout' %}">
                  <i class="ri-logout-circle-r-line" aria-hidden="true"></i>
                  Logout
                </a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>

        <div class="header__buttons__dropdown">
          <button class="header__buttons__button js-header-dropdown-button">
            <span class="visually-hidden">Shopping cart</span>
            <i class="ri-shopping-cart-line" aria-hidden="true"></i>
          </button>

          <div class="header__buttons__dropdown__content header__buttons__dropdown__content--cart js-header-buttons-dropdown">
            <div>
              Your cart is empty
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>