{% extends 'core/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<!-- HOME SLIDER -->
<section class="slider">
    <div class="row">
        <div class="swiper js-slider">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="slider__item">
                    <div class="slider__item__content">
                        <h3 class="slider__item__heading heading heading--h1">Cozy Winter Outerwear</h3>
                        <p class="slider__item__text">
                            Stay warm and stylish this winter with our luxurious coats and scarves. Perfectly crafted to blend comfort and elegance, our winter collection is designed to make you feel as good as you look – no matter the weather.
                        </p>
                        <a class="btn btn--primary" href="{% url 'shop' %}">Shop Now</a>
                    </div>
    
                    <img class="slider__item__image" src="/media/home/slider/slide1.jpg" alt="Woman in winter coat">
                </div>
              </div>
              
              <div class="swiper-slide">
                <div class="slider__item">
                    <div class="slider__item__content">
                        <h3 class="slider__item__heading heading heading--h1">Men’s Fashion Essentials</h3>
                        <p class="slider__item__text">
                            Refresh your wardrobe with our curated selection of men’s boots and shirts. From timeless classics to modern must-haves, each piece is crafted to ensure you step out with confidence and style every day.
                        </p>
                        <a class="btn btn--primary" href="{% url 'shop' %}">Shop Now</a>
                    </div>
    
                    <img class="slider__item__image" src="/media/home/slider/slide2.jpg" alt="Men's shirts and elegant shoes">
                </div>
              </div>

              <div class="swiper-slide">
                <div class="slider__item">
                    <div class="slider__item__content">
                        <h3 class="slider__item__heading heading heading--h1">Chic Shopping Experience</h3>
                        <p class="slider__item__text">
                            Indulge in the ultimate shopping spree with our exclusive collection of fashion essentials. From statement pieces to timeless favorites, explore a world of style designed to elevate every moment of your day.
                        </p>
                        <a class="btn btn--primary" href="{% url 'shop' %}">Shop Now</a>
                    </div>
    
                    <img class="slider__item__image" src="/media/home/slider/slide3.jpg" alt="Happy woman with shopping bags">
                </div>
              </div>
            </div>
            <div class="swiper-pagination slider__pagination js-slider-pagination"></div>
        </div>
    </div>
</section>

<!-- FEATURED ICONS -->
<section class="featured-icons">
<div class="container">
    <div class="row">
        <div class="featured-icons__block">
            <div class="featured-icons__block__icon">
                <img src="/media/home/icons/icon1.svg" alt="Free shipping icon">
            </div>

            <div>
                <div class="heading heading--h5">Free Shipping</div>
                <p>Worry-free delivery, straight to your door.</p>
            </div>
        </div>
        
        <div class="featured-icons__block">
            <div class="featured-icons__block__icon">
                <img src="/media/home/icons/icon2.svg" alt="Payment method icon">
            </div>

            <div>
                <div class="heading heading--h5">Payment Method</div>
                <p>Seamless and secure online transactions.</p>
            </div>
        </div>

        <div class="featured-icons__block">
            <div class="featured-icons__block__icon">
                <img src="/media/home/icons/icon3.svg" alt="Online support icon">
            </div>

            <div>
                <div class="heading heading--h5">Online Support</div>
                <p>Available 24/7 to assist you anytime.</p>
            </div>
        </div>

        <div class="featured-icons__block">
            <div class="featured-icons__block__icon">
                <img src="/media/home/icons/icon4.svg" alt="Secure packaging icon">
            </div>

            <div>
                <div class="heading heading--h5">Secure Packaging</div>
                <p>Each order carefully packaged for safe delivery.</p>
            </div>
        </div>
    </div>
</div>
</section>

<!-- CATEGORIES -->
{% if categories %}
<section class="categories">
    <div class="container">
        <div class="row">
            {% for category in categories %}
            <div class="categories__block">
                <img src="{{ category.category_image.image.url }}" alt="{{ category.category_image.alt }}" class="categories__block__image">
                <a href="{{ category.get_absolute_url }}" class="categories__block__btn btn btn--primary">
                    {{ category.name }}
                    <i class="ri-arrow-right-line" aria-hidden="true"></i>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}

<!-- FEATURED PRODUCTS -->
<section class="featured js-featured-products">
    <div class="container container--narrow">
        <div class="row">
            <h2 class="featured__heading heading heading--h2">Featured Items</h2>

            <ul class="featured__nav js-featured-products-nav">
                {% for subcategory in subcategories %}
                <li>
                    <button class="featured__nav__btn js-featured-products-nav-item {% if forloop.first %}active{% endif %}" data-category="{{ subcategory.slug }}">{{ subcategory.name }}</button>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="container">
        <div class="featured__products">
            {% for subcategory in subcategories %}
            <div class="featured__products__row js-featured-products-row {% if forloop.first %}active{% endif %}" data-category="{{ subcategory.slug }}">
                {% for obj in subcategory.product_set.all %}
                {% include 'shop/product-card.html' %}
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<!-- SLIDE TEXT -->
<section class="slide-text">
    <div class="row">
        <div class="slide-text__wrapper">
            {% for i in range %}
            <div class="slide-text__item">
                <div class="heading--h3">35% Winter Offer Running</div>
                <img src="/media/home/icons/star.svg" alt="Star" aria-hidden="True" class="slide-text__item__icon">
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<!-- HOME ABOUT -->
<section class="home-about">
    <div class="container container--narrow">
        <div class="row">
            <div class="home-about__content">
                <h2 class="heading heading--h2">Discover Our Exclusive Summer Collection</h2>
                <p class="home-about__text">
                    Summer is all about effortless style and comfort. Our Summer Collection is designed to keep you looking chic while staying cool, with breathable fabrics and trendsetting designs. Step into the season with confidence and embrace the sunshine in style.
                </p>
                <a class="btn btn--primary" href="{% url 'shop' %}">Shop Now</a>
            </div>

            <div class="home-about__image">
                <img src="/media/home/about.jpg" alt="Bright clothes hanging on racks">
            </div>
        </div>
    </div>
</section>

<!-- NEW PRODUCTS -->
<section class="new-products js-new-products">
    <div class="container container--narrow">
        <div class="row new-products__heading-row">
            <h2 class="heading heading--h2">New Items in Store</h2>

            <div class="new-products__arrows">
                <div class="swiper-round-arrow js-arrow-left">
                    <i class="ri-arrow-left-s-line" aria-hidden="true"></i>
                </div>
                <div class="swiper-round-arrow js-arrow-right">
                    <i class="ri-arrow-right-s-line" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="swiper js-new-products-carousel">
                <div class="swiper-wrapper">

                  {% for obj in new_items %}
                  <div class="swiper-slide">
                    {% include 'shop/product-card.html' %}
                  </div>
                  {% endfor %}

                </div>
            </div>
        </div>
    </div>
</section>

<!-- LOGOS -->
<section class="logos">
    <div class="container container--narrow">
        <div class="row">
            <div class="swiper js-logos-carousel">
                <div class="swiper-wrapper">
                  {% for brand in brands %}
                  <div class="swiper-slide">
                    <img src="{{ brand.logo.image.url }}" alt="{{ brand.logo.alt }}">
                  </div>
                  {% endfor %}
                </div>
              </div>
        </div>
    </div>
</section>

<!-- TESTIMONIALS -->
<section class="testimonials">
    <div class="container">
        <div class="row">
            <h2 class="testimonials__heading heading heading--h2">What Our People Says</h2>

            <div class="swiper testimonials__slider js-testimonials-slider">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="testimonials__slider__item">
                        <p class="testimonials__content">
                            Shopping at Prestig has been an amazing experience! The quality of the clothing is outstanding, and the customer service is top-notch. I always find something unique that fits my style perfectly.
                        </p>

                        <div class="testimonials__author">
                            <img class="testimonials__author__image" src="/media/home/testimonials/man1.jpg" alt="Testimony author">
                            <h5 class="heading heading--h5">John Miller</h5>
                            <p>New York, USA</p>
                        </div>
                    </div>
                  </div>
                  
                  <div class="swiper-slide">
                    <div class="testimonials__slider__item">
                        <p class="testimonials__content">
                            I’ve been a loyal customer of Prestig for over a year now, and I couldn’t be happier. The selection is always on trend, and the fast, free shipping is a huge bonus. Highly recommended!
                        </p>

                        <div class="testimonials__author">
                            <img class="testimonials__author__image" src="/media/home/testimonials/man2.jpg" alt="Testimony author">
                            <h5 class="heading heading--h5">Luca Rossi</h5>
                            <p>Milan, Italy</p>
                        </div>
                    </div>
                  </div>

                  <div class="swiper-slide">
                    <div class="testimonials__slider__item">
                        <p class="testimonials__content">
                            Prestig is my go-to store for exclusive fashion. The designs are both modern and timeless, and the entire shopping process is smooth and hassle-free. I can’t imagine shopping anywhere else.
                        </p>

                        <div class="testimonials__author">
                            <img class="testimonials__author__image" src="/media/home/testimonials/man3.jpg" alt="Testimony author">
                            <h5 class="heading heading--h5">Hiroshi Takeda</h5>
                            <p>Tokyo, Japan</p>
                        </div>
                    </div>
                  </div>
                </div>
                
                <div class="testimonials__slider__arrow testimonials__slider__arrow--left js-arrow-left">
                    <i class="ri-arrow-left-s-line" aria-hidden="true"></i>
                </div>
                <div class="testimonials__slider__arrow testimonials__slider__arrow--right js-arrow-right">
                    <i class="ri-arrow-right-s-line" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- SIDE IMAGE -->
<section class="side-image">
    <div class="container container--narrow">
        <div class="row">
            <div class="side-image__content">
                <h2 class="heading heading--h2">Discover Our Premium Hoodies Collection</h2>
                <p class="side-image__text">
                    Our hoodies combine comfort, style, and versatility, making them a wardrobe essential for any season. Crafted from high-quality materials, each piece is designed to provide the perfect balance between casual and chic. Elevate your everyday look with our exclusive selection.
                </p>
                <a class="btn btn--primary" href="{% url 'shop' %}">Shop Now</a>
            </div>

            <div class="side-image__image">
                <img src="/media/home/side-image.jpg" alt="Autumn clothes hanging on a racks">
            </div>
        </div>
    </div>
</section>

<!-- TOP SELLING PRODUCTS -->
<section class="top-products js-top-products">
    <div class="container container--narrow">
        <div class="row top-products__heading-row">
            <h2 class="heading heading--h2">Top Selling Items</h2>

            <div class="top-products__arrows">
                <div class="swiper-round-arrow js-arrow-left">
                    <i class="ri-arrow-left-s-line" aria-hidden="true"></i>
                </div>
                <div class="swiper-round-arrow js-arrow-right">
                    <i class="ri-arrow-right-s-line" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="swiper js-top-products-carousel">
                <div class="swiper-wrapper">

                  {% for obj in top_selling %}
                  <div class="swiper-slide">
                    {% include 'shop/product-card.html' %}
                  </div>
                  {% endfor %}

                </div>
            </div>
        </div>
    </div>
</section>

<!-- NEWSLETTER -->
<section class="newsletter">
    <div class="container container--narrow">
        <div class="row">
            <div class="newsletter__wrapper">
                <div class="newsletter__wrapper__image">
                    <img src="/media/home/newsletter.jpg" alt="Blue purse" aria-hidden="true">
                </div>

                <div class="newsletter__wrapper__content">
                    <h2 class="newsletter__heading heading heading--h2">Subscribe newsletter</h2>
                    <p>Join the style revolution and subscribe to our fashion shop</p>

                    <form class="newsletter__form form js-newsletter-form">
                        <div class="newsletter__form__input-wrapper js-form-field">
                            <input type="text" name="email" placeholder="Enter your email address ...">
                        </div>
                        <button class="newsletter__form__btn btn btn--primary" type="submit">Subscribe</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- BOTTOM GALLERY -->
<section class="bottom-gallery">
    <div class="row">
        <div class="swiper js-bottom-gallery-carousel">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="bottom-gallery__item">
                    <a href="#" class="gallery__item__link">
                        <span class="visually-hidden">See on instagram</span>
                        <i class="ri-instagram-line" aria-hidden="true"></i>
                    </a>
                    <img src="/media/bottom-gallery/image1.jpg" alt="Man reaching into his jacket pocket" class="bottom-gallery__item__image">
                </div>
              </div>

              <div class="swiper-slide">
                <div class="bottom-gallery__item">
                    <a href="#" class="gallery__item__link">
                        <span class="visually-hidden">See on instagram</span>
                        <i class="ri-instagram-line" aria-hidden="true"></i>
                    </a>
                    <img src="/media/bottom-gallery/image2.jpg" alt="Brown purse and jeans" class="bottom-gallery__item__image">
                </div>
              </div>

              <div class="swiper-slide">
                <div class="bottom-gallery__item">
                    <a href="#" class="gallery__item__link">
                        <span class="visually-hidden">See on instagram</span>
                        <i class="ri-instagram-line" aria-hidden="true"></i>
                    </a>
                    <img src="/media/bottom-gallery/image3.jpg" alt="Girl in white dress among trees" class="bottom-gallery__item__image">
                </div>
              </div>

              <div class="swiper-slide">
                <div class="bottom-gallery__item">
                    <a href="#" class="gallery__item__link">
                        <span class="visually-hidden">See on instagram</span>
                        <i class="ri-instagram-line" aria-hidden="true"></i>
                    </a>
                    <img src="/media/bottom-gallery/image4.jpg" alt="Girl in white sweater with yellow flowers" class="bottom-gallery__item__image">
                </div>
              </div>

              <div class="swiper-slide">
                <div class="bottom-gallery__item">
                    <a href="#" class="gallery__item__link">
                        <span class="visually-hidden">See on instagram</span>
                        <i class="ri-instagram-line" aria-hidden="true"></i>
                    </a>
                    <img src="/media/bottom-gallery/image5.jpg" alt="Woman in transparent dress and black hat on her head" class="bottom-gallery__item__image">
                </div>
              </div>

              <div class="swiper-slide">
                <div class="bottom-gallery__item">
                    <a href="#" class="gallery__item__link">
                        <span class="visually-hidden">See on instagram</span>
                        <i class="ri-instagram-line" aria-hidden="true"></i>
                    </a>
                    <img src="/media/bottom-gallery/image6.jpg" alt="Woman in grey dress and sheepskin coat on shoulders" class="bottom-gallery__item__image">
                </div>
              </div>

              <div class="swiper-slide">
                <div class="bottom-gallery__item">
                    <a href="#" class="gallery__item__link">
                        <span class="visually-hidden">See on instagram</span>
                        <i class="ri-instagram-line" aria-hidden="true"></i>
                    </a>
                    <img src="/media/bottom-gallery/image7.jpg" alt="Set of summer clothes for women" class="bottom-gallery__item__image">
                </div>
              </div>

              <div class="swiper-slide">
                <div class="bottom-gallery__item">
                    <a href="#" class="gallery__item__link">
                        <span class="visually-hidden">See on instagram</span>
                        <i class="ri-instagram-line" aria-hidden="true"></i>
                    </a>
                    <img src="/media/bottom-gallery/image8.jpg" alt="Sitting redhead girl with green pants and black boots" class="bottom-gallery__item__image">
                </div>
              </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}