{% extends 'core/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<!-- HOME SLIDER -->
<section class="slider">
    <div class="row">
        <div class="swiper js-slider">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="slider__item">
                    <div class="slider__item__content">
                        <h3 class="slider__item__heading heading heading--h1">Winter Collection For Women</h3>
                        <p class="slider__item__text">
                            We are more than just an online shopping destination; we're your personal gateway to a world of fashion, trendsetting styles, and unparalleled convenience. We believe that fashion is a reflection of your individuality, and our mission is to make every shopping experience.
                        </p>
                        <a class="btn btn--primary" href="#">Shop Now</a>
                    </div>
    
                    <img class="slider__item__image" src="/media/home/slider/slide1.jpg" alt="Woman in winter coat">
                </div>
              </div>
              
              <div class="swiper-slide">
                <div class="slider__item">
                    <div class="slider__item__content">
                        <h3 class="slider__item__heading heading heading--h1">Winter Collection For Women</h3>
                        <p class="slider__item__text">
                            We are more than just an online shopping destination; we're your personal gateway to a world of fashion, trendsetting styles, and unparalleled convenience. We believe that fashion is a reflection of your individuality, and our mission is to make every shopping experience.
                        </p>
                        <a class="btn btn--primary" href="#">Shop Now</a>
                    </div>
    
                    <img class="slider__item__image" src="/media/home/slider/slide2.jpg" alt="Men's shirts and elegant shoes">
                </div>
              </div>

              <div class="swiper-slide">
                <div class="slider__item">
                    <div class="slider__item__content">
                        <h3 class="slider__item__heading heading heading--h1">Winter Collection For Women</h3>
                        <p class="slider__item__text">
                            We are more than just an online shopping destination; we're your personal gateway to a world of fashion, trendsetting styles, and unparalleled convenience. We believe that fashion is a reflection of your individuality, and our mission is to make every shopping experience.
                        </p>
                        <a class="btn btn--primary" href="#">Shop Now</a>
                    </div>
    
                    <img class="slider__item__image" src="/media/home/slider/slide3.jpg" alt="Happy woman with shopping bags">
                </div>
              </div>
            </div>
            <div class="swiper-pagination slider__pagination js-slider-pagination"></div>
        </div>
    </div>
</section>

<!-- FEATURED ICONS -->
<section class="featured-icons">
<div class="container">
    <div class="row">
        <div class="featured-icons__block">
            <div class="featured-icons__block__icon">
                <img src="/media/home/icons/icon1.svg" alt="Free shipping icon">
            </div>

            <div>
                <div class="heading heading--h5">Free Shipping</div>
                <p>No need to worry about cost</p>
            </div>
        </div>
        
        <div class="featured-icons__block">
            <div class="featured-icons__block__icon">
                <img src="/media/home/icons/icon2.svg" alt="Payment method icon">
            </div>

            <div>
                <div class="heading heading--h5">Payment Method</div>
                <p>Easy and hassle free online transaction</p>
            </div>
        </div>

        <div class="featured-icons__block">
            <div class="featured-icons__block__icon">
                <img src="/media/home/icons/icon3.svg" alt="Online support icon">
            </div>

            <div>
                <div class="heading heading--h5">Online Support</div>
                <p>24 hours a day, 7 days a week</p>
            </div>
        </div>

        <div class="featured-icons__block">
            <div class="featured-icons__block__icon">
                <img src="/media/home/icons/icon4.svg" alt="Secure packaging icon">
            </div>

            <div>
                <div class="heading heading--h5">Secure Packaging</div>
                <p>Every order packaging securely place</p>
            </div>
        </div>
    </div>
</div>
</section>

<!-- CATEGORIES -->
<section class="categories">
    <div class="container">
        <div class="row">
            <div class="categories__block">
                <img src="/media/home/categories/men.jpg" alt="Man in coat in forest" class="categories__block__image">
                <a href="#" class="categories__block__btn btn btn--primary">
                    Men
                    <i class="ri-arrow-right-line" aria-hidden="true"></i>
                </a>
            </div>

            <div class="categories__block">
                <img src="/media/home/categories/women.jpg" alt="Girl in jeans sitting on yellow armchair" class="categories__block__image">
                <a href="#" class="categories__block__btn btn btn--primary">
                    Women
                    <i class="ri-arrow-right-line" aria-hidden="true"></i>
                </a>
            </div>

            <div class="categories__block">
                <img src="/media/home/categories/children.jpg" alt="Boy in yellow vest holding his hat" class="categories__block__image">
                <a href="#" class="categories__block__btn btn btn--primary">
                    Children
                    <i class="ri-arrow-right-line" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
</section>

<!-- SLIDE TEXT -->
<section class="slide-text">
    <div class="row">
        <div class="slide-text__wrapper">
            <div class="slide-text__item">
                <div class="heading--h3">35% Winter Offer Running</div>
                <img src="/media/home/icons/star.svg" alt="Star" aria-hidden="True" class="slide-text__item__icon">
            </div>

            <div class="slide-text__item">
                <div class="heading--h3">35% Winter Offer Running</div>
                <img src="/media/home/icons/star.svg" alt="Star" aria-hidden="True" class="slide-text__item__icon">
            </div>

            <div class="slide-text__item">
                <div class="heading--h3">35% Winter Offer Running</div>
                <img src="/media/home/icons/star.svg" alt="Star" aria-hidden="True" class="slide-text__item__icon">
            </div>

            <div class="slide-text__item">
                <div class="heading--h3">35% Winter Offer Running</div>
                <img src="/media/home/icons/star.svg" alt="Star" aria-hidden="True" class="slide-text__item__icon">
            </div>
        </div>
    </div>
</section>

<!-- HOME ABOUT -->
<section class="home-about">
    <div class="container container--narrow">
        <div class="row">
            <div class="home-about__content">
                <h2 class="heading heading--h2">Explore our latest winter fashion collection</h2>
                <p class="home-about__text">
                    We believe that winter fashion should be both functional and fabulous. Our Winter Fashion Collection reflects our commitment to quality, comfort, and style. Embrace the season with confidence.
                </p>
                <a class="btn btn--primary" href="#">Shop Now</a>
            </div>

            <div class="home-about__image">
                <img src="/media/home/about.jpg" alt="Bright clothes hanging on racks">
            </div>
        </div>
    </div>
</section>

<!-- NEW PRODUCTS -->
<section class="new-products js-new-products">
    <div class="container container--narrow">
        <div class="row new-products__heading-row">
            <h2 class="heading heading--h2">New Items in store</h2>

            <div class="new-products__arrows">
                <div class="swiper-round-arrow js-arrow-left">
                    <i class="ri-arrow-left-s-line" aria-hidden="true"></i>
                </div>
                <div class="swiper-round-arrow js-arrow-right">
                    <i class="ri-arrow-right-s-line" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="swiper js-new-products-carousel">
                <div class="swiper-wrapper">

                  <div class="swiper-slide">
                    <div class="product-card" data-id="1">
                        <div class="product-card__top">
                            <img class="product-card__top__image" src="https://i.pinimg.com/736x/e4/64/f6/e464f67ced879835b32e4c84318bf7a2.jpg" alt="Product image">

                            <div class="product-card__top__elements">
                                <div class="product-card__top__elements__buttons">
                                    <button class="product-card__top__elements__buttons__btn">
                                        <span class="visually-hidden">Add to favourities</span>
                                        <i class="ri-heart-line" aria-hidden="true"></i>
                                    </button>

                                    <a href="#" class="product-card__top__elements__buttons__btn">
                                        <span class="visually-hidden">See more details</span>
                                        <i class="ri-eye-line" aria-hidden="true"></i>
                                    </a>
                                </div>

                                <button class="product-card__add-to-cart btn btn--accent">Add To Cart</button>
                            </div>
                        </div>

                        <div class="product-card__bottom">
                            <a href="#" class="product-card__title heading heading--h6">Pure black cotton men T-shirt</a>
                            <div class="product-card__price">
                                $<span class="product-card__price__figure">250.00</span>
                            </div>
                        </div>
                    </div>
                  </div>

                  <div class="swiper-slide">
                    <div class="product-card" data-id="1">
                        <div class="product-card__top">
                            <img class="product-card__top__image" src="https://i.pinimg.com/736x/d9/76/12/d97612e274cd992d07ea8d54193f8b55.jpg" alt="Product image">

                            <div class="product-card__top__elements">
                                <div class="product-card__top__elements__buttons">
                                    <button class="product-card__top__elements__buttons__btn">
                                        <span class="visually-hidden">Add to favourities</span>
                                        <i class="ri-heart-line" aria-hidden="true"></i>
                                    </button>

                                    <a href="#" class="product-card__top__elements__buttons__btn">
                                        <span class="visually-hidden">See more details</span>
                                        <i class="ri-eye-line" aria-hidden="true"></i>
                                    </a>
                                </div>

                                <button class="product-card__add-to-cart btn btn--accent">Add To Cart</button>
                            </div>
                        </div>

                        <div class="product-card__bottom">
                            <a href="#" class="product-card__title heading heading--h6">Pure black cotton men T-shirt</a>
                            <div class="product-card__price">
                                $<span class="product-card__price__figure">250.00</span>
                            </div>
                        </div>
                    </div>
                  </div>

                  <div class="swiper-slide">
                    <div class="product-card" data-id="1">
                        <div class="product-card__top">
                            <img class="product-card__top__image" src="https://i.pinimg.com/736x/22/59/bf/2259bf83ee55fb9f477202ecb9656711.jpg" alt="Product image">

                            <div class="product-card__top__elements">
                                <div class="product-card__top__elements__buttons">
                                    <button class="product-card__top__elements__buttons__btn">
                                        <span class="visually-hidden">Add to favourities</span>
                                        <i class="ri-heart-line" aria-hidden="true"></i>
                                    </button>

                                    <a href="#" class="product-card__top__elements__buttons__btn">
                                        <span class="visually-hidden">See more details</span>
                                        <i class="ri-eye-line" aria-hidden="true"></i>
                                    </a>
                                </div>

                                <button class="product-card__add-to-cart btn btn--accent">Add To Cart</button>
                            </div>
                        </div>

                        <div class="product-card__bottom">
                            <a href="#" class="product-card__title heading heading--h6">Pure black cotton men T-shirt</a>
                            <div class="product-card__price">
                                $<span class="product-card__price__figure">250.00</span>
                            </div>
                        </div>
                    </div>
                  </div>

                  <div class="swiper-slide">
                    <div class="product-card" data-id="1">
                        <div class="product-card__top">
                            <img class="product-card__top__image" src="https://i.pinimg.com/736x/47/cb/df/47cbdf53716a6e9b7f8d81ba98504d6c--new-york-fashion-fashion-fashion.jpg" alt="Product image">

                            <div class="product-card__top__elements">
                                <div class="product-card__top__elements__buttons">
                                    <button class="product-card__top__elements__buttons__btn">
                                        <span class="visually-hidden">Add to favourities</span>
                                        <i class="ri-heart-line" aria-hidden="true"></i>
                                    </button>

                                    <a href="#" class="product-card__top__elements__buttons__btn">
                                        <span class="visually-hidden">See more details</span>
                                        <i class="ri-eye-line" aria-hidden="true"></i>
                                    </a>
                                </div>

                                <button class="product-card__add-to-cart btn btn--accent">Add To Cart</button>
                            </div>
                        </div>

                        <div class="product-card__bottom">
                            <a href="#" class="product-card__title heading heading--h6">Pure black cotton men T-shirt</a>
                            <div class="product-card__price">
                                $<span class="product-card__price__figure">250.00</span>
                            </div>
                        </div>
                    </div>
                  </div>

                  <div class="swiper-slide">
                    <div class="product-card" data-id="1">
                        <div class="product-card__top">
                            <img class="product-card__top__image" src="https://i.pinimg.com/736x/e2/47/6d/e2476d72185f68499510998ff6168a3b--oakley-sunglasses-cheap-ray-ban-sunglasses.jpg" alt="Product image">

                            <div class="product-card__top__elements">
                                <div class="product-card__top__elements__buttons">
                                    <button class="product-card__top__elements__buttons__btn">
                                        <span class="visually-hidden">Add to favourities</span>
                                        <i class="ri-heart-line" aria-hidden="true"></i>
                                    </button>

                                    <a href="#" class="product-card__top__elements__buttons__btn">
                                        <span class="visually-hidden">See more details</span>
                                        <i class="ri-eye-line" aria-hidden="true"></i>
                                    </a>
                                </div>

                                <button class="product-card__add-to-cart btn btn--accent">Add To Cart</button>
                            </div>
                        </div>

                        <div class="product-card__bottom">
                            <a href="#" class="product-card__title heading heading--h6">Pure black cotton men T-shirt</a>
                            <div class="product-card__price">
                                $<span class="product-card__price__figure">250.00</span>
                            </div>
                        </div>
                    </div>
                  </div>

                  <div class="swiper-slide">
                    <div class="product-card" data-id="1">
                        <div class="product-card__top">
                            <img class="product-card__top__image" src="https://i.pinimg.com/736x/d0/df/9c/d0df9c55c7d08ac57c4bb5acb501e1bf.jpg" alt="Product image">

                            <div class="product-card__top__elements">
                                <div class="product-card__top__elements__buttons">
                                    <button class="product-card__top__elements__buttons__btn">
                                        <span class="visually-hidden">Add to favourities</span>
                                        <i class="ri-heart-line" aria-hidden="true"></i>
                                    </button>

                                    <a href="#" class="product-card__top__elements__buttons__btn">
                                        <span class="visually-hidden">See more details</span>
                                        <i class="ri-eye-line" aria-hidden="true"></i>
                                    </a>
                                </div>

                                <button class="product-card__add-to-cart btn btn--accent">Add To Cart</button>
                            </div>
                        </div>

                        <div class="product-card__bottom">
                            <a href="#" class="product-card__title heading heading--h6">Pure black cotton men T-shirt</a>
                            <div class="product-card__price">
                                $<span class="product-card__price__figure">250.00</span>
                            </div>
                        </div>
                    </div>
                  </div>

                </div>
            </div>
        </div>
    </div>
</section>

<!-- LOGOS -->
<section class="logos">
    <div class="container container--narrow">
        <div class="row">
            <div class="swiper js-logos-carousel">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <img src="/media/home/logos/divante.png" alt="Divante logo ">
                  </div>

                  <div class="swiper-slide">
                    <img src="/media/home/logos/e-vantage.png" alt="E-vantage logo">
                  </div>

                  <div class="swiper-slide">
                    <img src="/media/home/logos/fashion-tv.png" alt="fashion-tv logo">
                  </div>

                  <div class="swiper-slide">
                    <img src="/media/home/logos/intershop.png" alt="intershop logo">
                  </div>

                  <div class="swiper-slide">
                    <img src="/media/home/logos/lucky-brand.png" alt="Lucky brand logo">
                  </div>

                  <div class="swiper-slide">
                    <img src="/media/home/logos/fashion.png" alt="Fashion logo">
                  </div>
                </div>
              </div>
        </div>
    </div>
</section>

<!-- TESTIMONIALS -->
<section class="testimonials">
    <div class="container">
        <div class="row">
            <h2 class="testimonials__heading heading heading--h2">What Our People Says</h2>

            <div class="swiper testimonials__slider js-testimonials-slider">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="testimonials__slider__item">
                        <p class="testimonials__content">
                            Shopping at Sattiyas has been an absolute delight! I've had the pleasure of being a customer for the past year, and I can confidently say that this is my go-to online shopping destination. Highly recommend!
                        </p>

                        <div class="testimonials__author">
                            <img class="testimonials__author__image" src="/media/home/testimonials/man1.jpg" alt="Testimony author">
                            <h5 class="heading heading--h5">Bonal Ahmad</h5>
                            <p>From London</p>
                        </div>
                    </div>
                  </div>
                  
                  <div class="swiper-slide">
                    <div class="testimonials__slider__item">
                        <p class="testimonials__content">
                            Shopping at Sattiyas has been an absolute delight! I've had the pleasure of being a customer for the past year, and I can confidently say that this is my go-to online shopping destination. Highly recommend!
                        </p>

                        <div class="testimonials__author">
                            <img class="testimonials__author__image" src="/media/home/testimonials/man2.jpg" alt="Testimony author">
                            <h5 class="heading heading--h5">Bonal Ahmad</h5>
                            <p>From London</p>
                        </div>
                    </div>
                  </div>

                  <div class="swiper-slide">
                    <div class="testimonials__slider__item">
                        <p class="testimonials__content">
                            Shopping at Sattiyas has been an absolute delight! I've had the pleasure of being a customer for the past year, and I can confidently say that this is my go-to online shopping destination. Highly recommend!
                        </p>

                        <div class="testimonials__author">
                            <img class="testimonials__author__image" src="/media/home/testimonials/man3.jpg" alt="Testimony author">
                            <h5 class="heading heading--h5">Bonal Ahmad</h5>
                            <p>From London</p>
                        </div>
                    </div>
                  </div>
                </div>
                
                <div class="testimonials__slider__arrow testimonials__slider__arrow--left js-arrow-left">
                    <i class="ri-arrow-left-s-line" aria-hidden="true"></i>
                </div>
                <div class="testimonials__slider__arrow testimonials__slider__arrow--right js-arrow-right">
                    <i class="ri-arrow-right-s-line" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- SIDE IMAGE -->
<section class="side-image">
    <div class="container container--narrow">
        <div class="row">
            <div class="side-image__content">
                <h2 class="heading heading--h2">Explore latest handcraft exclusive collection</h2>
                <p class="side-image__text">
                    We believe that winter fashion should be both functional and fabulous. Our Winter Fashion Collection reflects our commitment to quality, comfort, and style. Embrace the season with confidence.
                </p>
                <a class="btn btn--primary" href="#">Shop Now</a>
            </div>

            <div class="side-image__image">
                <img src="/media/home/side-image.jpg" alt="Autumn clothes hanging on a racks">
            </div>
        </div>
    </div>
</section>

<!-- TOP SELLING PRODUCTS -->
<section class="top-products js-top-products">
    <div class="container container--narrow">
        <div class="row top-products__heading-row">
            <h2 class="heading heading--h2">Top selling accessories</h2>

            <div class="top-products__arrows">
                <div class="swiper-round-arrow js-arrow-left">
                    <i class="ri-arrow-left-s-line" aria-hidden="true"></i>
                </div>
                <div class="swiper-round-arrow js-arrow-right">
                    <i class="ri-arrow-right-s-line" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="swiper js-top-products-carousel">
                <div class="swiper-wrapper">

                  <div class="swiper-slide">
                    <div class="product-card" data-id="1">
                        <div class="product-card__top">
                            <img class="product-card__top__image" src="https://style-avenue.ru/wp-content/uploads/2020/12/1-1-16.png" alt="Product image">

                            <div class="product-card__top__elements">
                                <div class="product-card__top__elements__buttons">
                                    <button class="product-card__top__elements__buttons__btn">
                                        <span class="visually-hidden">Add to favourities</span>
                                        <i class="ri-heart-line" aria-hidden="true"></i>
                                    </button>

                                    <a href="#" class="product-card__top__elements__buttons__btn">
                                        <span class="visually-hidden">See more details</span>
                                        <i class="ri-eye-line" aria-hidden="true"></i>
                                    </a>
                                </div>

                                <button class="product-card__add-to-cart btn btn--accent">Add To Cart</button>
                            </div>
                        </div>

                        <div class="product-card__bottom">
                            <a href="#" class="product-card__title heading heading--h6">Pure black cotton men T-shirt</a>
                            <div class="product-card__price">
                                $<span class="product-card__price__figure">250.00</span>
                            </div>
                        </div>
                    </div>
                  </div>

                  <div class="swiper-slide">
                    <div class="product-card" data-id="1">
                        <div class="product-card__top">
                            <img class="product-card__top__image" src="https://lequotidiendugout.wordpress.com/wp-content/uploads/2011/12/scarlett_johansson_moet_chandon_1.jpg" alt="Product image">

                            <div class="product-card__top__elements">
                                <div class="product-card__top__elements__buttons">
                                    <button class="product-card__top__elements__buttons__btn">
                                        <span class="visually-hidden">Add to favourities</span>
                                        <i class="ri-heart-line" aria-hidden="true"></i>
                                    </button>

                                    <a href="#" class="product-card__top__elements__buttons__btn">
                                        <span class="visually-hidden">See more details</span>
                                        <i class="ri-eye-line" aria-hidden="true"></i>
                                    </a>
                                </div>

                                <button class="product-card__add-to-cart btn btn--accent">Add To Cart</button>
                            </div>
                        </div>

                        <div class="product-card__bottom">
                            <a href="#" class="product-card__title heading heading--h6">Pure black cotton men T-shirt</a>
                            <div class="product-card__price">
                                $<span class="product-card__price__figure">250.00</span>
                            </div>
                        </div>
                    </div>
                  </div>

                  <div class="swiper-slide">
                    <div class="product-card" data-id="1">
                        <div class="product-card__top">
                            <img class="product-card__top__image" src="https://women-tusovka.ru/wp-content/uploads/2017/07/ofisnyj-stil-kakie-veshhi-dobavit-k-bazovym-chtoby-vyglyadet-modno-v-2017-g-5.jpg" alt="Product image">

                            <div class="product-card__top__elements">
                                <div class="product-card__top__elements__buttons">
                                    <button class="product-card__top__elements__buttons__btn">
                                        <span class="visually-hidden">Add to favourities</span>
                                        <i class="ri-heart-line" aria-hidden="true"></i>
                                    </button>

                                    <a href="#" class="product-card__top__elements__buttons__btn">
                                        <span class="visually-hidden">See more details</span>
                                        <i class="ri-eye-line" aria-hidden="true"></i>
                                    </a>
                                </div>

                                <button class="product-card__add-to-cart btn btn--accent">Add To Cart</button>
                            </div>
                        </div>

                        <div class="product-card__bottom">
                            <a href="#" class="product-card__title heading heading--h6">Pure black cotton men T-shirt</a>
                            <div class="product-card__price">
                                $<span class="product-card__price__figure">250.00</span>
                            </div>
                        </div>
                    </div>
                  </div>

                  <div class="swiper-slide">
                    <div class="product-card" data-id="1">
                        <div class="product-card__top">
                            <img class="product-card__top__image" src="https://mtdata.ru/u9/photo905E/20290275892-0/original.png" alt="Product image">

                            <div class="product-card__top__elements">
                                <div class="product-card__top__elements__buttons">
                                    <button class="product-card__top__elements__buttons__btn">
                                        <span class="visually-hidden">Add to favourities</span>
                                        <i class="ri-heart-line" aria-hidden="true"></i>
                                    </button>

                                    <a href="#" class="product-card__top__elements__buttons__btn">
                                        <span class="visually-hidden">See more details</span>
                                        <i class="ri-eye-line" aria-hidden="true"></i>
                                    </a>
                                </div>

                                <button class="product-card__add-to-cart btn btn--accent">Add To Cart</button>
                            </div>
                        </div>

                        <div class="product-card__bottom">
                            <a href="#" class="product-card__title heading heading--h6">Pure black cotton men T-shirt</a>
                            <div class="product-card__price">
                                $<span class="product-card__price__figure">250.00</span>
                            </div>
                        </div>
                    </div>
                  </div>

                  <div class="swiper-slide">
                    <div class="product-card" data-id="1">
                        <div class="product-card__top">
                            <img class="product-card__top__image" src="https://i.pinimg.com/564x/a5/20/7d/a5207d44237b53901450b69ae48e9109.jpg" alt="Product image">

                            <div class="product-card__top__elements">
                                <div class="product-card__top__elements__buttons">
                                    <button class="product-card__top__elements__buttons__btn">
                                        <span class="visually-hidden">Add to favourities</span>
                                        <i class="ri-heart-line" aria-hidden="true"></i>
                                    </button>

                                    <a href="#" class="product-card__top__elements__buttons__btn">
                                        <span class="visually-hidden">See more details</span>
                                        <i class="ri-eye-line" aria-hidden="true"></i>
                                    </a>
                                </div>

                                <button class="product-card__add-to-cart btn btn--accent">Add To Cart</button>
                            </div>
                        </div>

                        <div class="product-card__bottom">
                            <a href="#" class="product-card__title heading heading--h6">Pure black cotton men T-shirt</a>
                            <div class="product-card__price">
                                $<span class="product-card__price__figure">250.00</span>
                            </div>
                        </div>
                    </div>
                  </div>

                  <div class="swiper-slide">
                    <div class="product-card" data-id="1">
                        <div class="product-card__top">
                            <img class="product-card__top__image" src="https://cdn0.matrimonio.com/usr/0/4/5/5/cfb_603437.jpg" alt="Product image">

                            <div class="product-card__top__elements">
                                <div class="product-card__top__elements__buttons">
                                    <button class="product-card__top__elements__buttons__btn">
                                        <span class="visually-hidden">Add to favourities</span>
                                        <i class="ri-heart-line" aria-hidden="true"></i>
                                    </button>

                                    <a href="#" class="product-card__top__elements__buttons__btn">
                                        <span class="visually-hidden">See more details</span>
                                        <i class="ri-eye-line" aria-hidden="true"></i>
                                    </a>
                                </div>

                                <button class="product-card__add-to-cart btn btn--accent">Add To Cart</button>
                            </div>
                        </div>

                        <div class="product-card__bottom">
                            <a href="#" class="product-card__title heading heading--h6">Pure black cotton men T-shirt</a>
                            <div class="product-card__price">
                                $<span class="product-card__price__figure">250.00</span>
                            </div>
                        </div>
                    </div>
                  </div>

                </div>
            </div>
        </div>
    </div>
</section>

<!-- NEWSLETTER -->
<section class="newsletter">
    <div class="container container--narrow">
        <div class="row">
            <div class="newsletter__wrapper">
                <div class="newsletter__wrapper__image">
                    <img src="/media/home/newsletter.jpg" alt="Blue purse" aria-hidden="true">
                </div>

                <div class="newsletter__wrapper__content">
                    <h2 class="newsletter__heading heading heading--h2">Subscribe newsletter</h2>
                    <p>Join the style revolution and subscribe to our fashion shop</p>

                    <form class="newsletter__form form">
                        <div class="newsletter__form__input-wrapper">
                            <input type="text" name="email">
                        </div>
                        <button class="newsletter__form__btn btn btn--primary" type="submit">Subscribe</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- BOTTOM GALLERY -->
<section class="bottom-gallery">
    <div class="row">
        <div class="swiper js-bottom-gallery-carousel">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="bottom-gallery__item">
                    <a href="#" class="gallery__item__link">
                        <span class="visually-hidden">See on instagram</span>
                        <i class="ri-instagram-line" aria-hidden="true"></i>
                    </a>
                    <img src="/media/bottom-gallery/image1.jpg" alt="Man reaching into his jacket pocket" class="bottom-gallery__item__image">
                </div>
              </div>

              <div class="swiper-slide">
                <div class="bottom-gallery__item">
                    <a href="#" class="gallery__item__link">
                        <span class="visually-hidden">See on instagram</span>
                        <i class="ri-instagram-line" aria-hidden="true"></i>
                    </a>
                    <img src="/media/bottom-gallery/image2.jpg" alt="Brown purse and jeans" class="bottom-gallery__item__image">
                </div>
              </div>

              <div class="swiper-slide">
                <div class="bottom-gallery__item">
                    <a href="#" class="gallery__item__link">
                        <span class="visually-hidden">See on instagram</span>
                        <i class="ri-instagram-line" aria-hidden="true"></i>
                    </a>
                    <img src="/media/bottom-gallery/image3.jpg" alt="Girl in white dress among trees" class="bottom-gallery__item__image">
                </div>
              </div>

              <div class="swiper-slide">
                <div class="bottom-gallery__item">
                    <a href="#" class="gallery__item__link">
                        <span class="visually-hidden">See on instagram</span>
                        <i class="ri-instagram-line" aria-hidden="true"></i>
                    </a>
                    <img src="/media/bottom-gallery/image4.jpg" alt="Girl in white sweater with yellow flowers" class="bottom-gallery__item__image">
                </div>
              </div>

              <div class="swiper-slide">
                <div class="bottom-gallery__item">
                    <a href="#" class="gallery__item__link">
                        <span class="visually-hidden">See on instagram</span>
                        <i class="ri-instagram-line" aria-hidden="true"></i>
                    </a>
                    <img src="/media/bottom-gallery/image5.jpg" alt="Woman in transparent dress and black hat on her head" class="bottom-gallery__item__image">
                </div>
              </div>

              <div class="swiper-slide">
                <div class="bottom-gallery__item">
                    <a href="#" class="gallery__item__link">
                        <span class="visually-hidden">See on instagram</span>
                        <i class="ri-instagram-line" aria-hidden="true"></i>
                    </a>
                    <img src="/media/bottom-gallery/image6.jpg" alt="Woman in grey dress and sheepskin coat on shoulders" class="bottom-gallery__item__image">
                </div>
              </div>

              <div class="swiper-slide">
                <div class="bottom-gallery__item">
                    <a href="#" class="gallery__item__link">
                        <span class="visually-hidden">See on instagram</span>
                        <i class="ri-instagram-line" aria-hidden="true"></i>
                    </a>
                    <img src="/media/bottom-gallery/image7.jpg" alt="Set of summer clothes for women" class="bottom-gallery__item__image">
                </div>
              </div>

              <div class="swiper-slide">
                <div class="bottom-gallery__item">
                    <a href="#" class="gallery__item__link">
                        <span class="visually-hidden">See on instagram</span>
                        <i class="ri-instagram-line" aria-hidden="true"></i>
                    </a>
                    <img src="/media/bottom-gallery/image8.jpg" alt="Sitting redhead girl with green pants and black boots" class="bottom-gallery__item__image">
                </div>
              </div>
            </div>
        </div>
    </div>
</section>

<!-- <form style="display: flex; flex-direction: column; gap: 10px; align-items: start;">
    <input type="text" placeholder="text" name="text">
    <input type="file" name="file">
    <input type="submit" value="Wyslij">
</form> -->
{% endblock %}