{% load ratings_tags %}
{% load ratings_converter %}

<aside class="shop__aside">
        <div class="shop__line-head">
          <button class="shop__line-head__filter-button js-open-filter-btn">
            <i class="ri-equalizer-2-line" aria-hidden="true"></i>
            Filter
          </button>

          <span class="shop__line-head__filter-text">
            <i class="ri-equalizer-2-line" aria-hidden="true"></i>
            Filter
          </span>
        </div>

        <div class="shop__aside__filter js-filter">
          <button class="shop__aside__filter__close-button js-close-filter-btn">
            <span class="visually-hidden">Close filter</span>
            <i class="ri-close-line" aria-hidden="true"></i>
          </button>

          <form class="shop__aside__filter__form">
            <div class="shop__aside__filter__accordion js-filter-accordion">
              {% if categories %}
              <!-- categories -->
              <div class="shop__aside__filter__accordion__item">
                <button type="button" class="shop__aside__filter__accordion__item__heading js-filter-accordion-heading">
                  Categories
                  <i class="ri-subtract-line" aria-hidden="true"></i>
                </button>

                <div class="shop__aside__filter__accordion__item__body js-filter-accordion-body">
                  <div class="shop__aside__filter__accordion__item__body__content">
                    <ul class="shop__aside__filter__categories">
                      {% for category in categories %}
                      <li>
                          <div class="form__checkbox">
                            <input class="form__checkbox__input" type="checkbox" name="category" id="{{ category.slug }}" value="{{ category.name }}"{% if category.name in checked_categories %}checked{% endif %}>
                            <label for="{{ category.slug }}"><span>{{ category }} ({{ category.product_count }})</span></label>
                          </div>

                          <ul>
                            {% for subcategory in category.subcategories.all %}
                            <li>
                              <div class="form__checkbox">
                                <input class="form__checkbox__input" type="checkbox" name="subcategory" id="{{ subcategory.slug }}" value="{{ subcategory }}"{% if subcategory.name in checked_subcategories %}checked{% endif %}>
                                <label for="{{ subcategory.slug }}"><span>{{ subcategory }} ({{ subcategory.product_set.count }})</span></label>
                              </div>
                            </li>
                            {% endfor %}
                          </ul>
                      </li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              </div>
              {% endif %}

              <!-- color -->
              {% if colors %}
              <div class="shop__aside__filter__accordion__item">
                <button type="button" class="shop__aside__filter__accordion__item__heading js-filter-accordion-heading">
                  Color
                  <i class="ri-subtract-line" aria-hidden="true"></i>
                </button>

                <div class="shop__aside__filter__accordion__item__body js-filter-accordion-body">
                  <div class="shop__aside__filter__accordion__item__body__content">
                    <ul class="shop__aside__filter__color">
                      {% for color in colors %}
                      <li>
                          <div class="form__radio">
                            <input class="form__radio__input" type="radio" name="color" id="{{ color|lower }}" value="{{ color }}"{% if color.name == request.GET.color %}checked{% endif %}>
                            <label for="{{ color|lower }}">
                              <span>
                                <div class="shop__aside__filter__color" style="background-color: #{{ color.hex }};"></div>
                                {{ color }}
                              </span>
                            </label>
                          </div>
                      </li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              </div>
              {% endif %}

              <!-- size -->
              {% if sizes %}
              <div class="shop__aside__filter__accordion__item">
                <button type="button" class="shop__aside__filter__accordion__item__heading js-filter-accordion-heading">
                  Size
                  <i class="ri-subtract-line" aria-hidden="true"></i>
                </button>

                <div class="shop__aside__filter__accordion__item__body js-filter-accordion-body">
                  <div class="shop__aside__filter__accordion__item__body__content">
                    <ul class="shop__aside__filter__size">
                      {% for size in sizes %}
                      <li>
                          <div class="form__checkbox">
                            <input class="form__checkbox__input" type="checkbox" name="size" id="{{ size|lower }}" value="{{ size }}"{% if size.name in checked_sizes %}checked{% endif %}>
                            <label for="{{ size|lower }}"><span>{{ size }}</span></label>
                          </div>
                      </li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              </div>
              {% endif %}

              <!-- brand -->
              {% if brands %}
              <div class="shop__aside__filter__accordion__item">
                <button type="button" class="shop__aside__filter__accordion__item__heading js-filter-accordion-heading">
                  Brand
                  <i class="ri-subtract-line" aria-hidden="true"></i>
                </button>

                <div class="shop__aside__filter__accordion__item__body js-filter-accordion-body">
                  <div class="shop__aside__filter__accordion__item__body__content">
                    <ul class="shop__aside__filter__brand">
                      {% for brand in brands %}
                      <li>
                          <div class="form__checkbox">
                            <input class="form__checkbox__input" type="checkbox" name="brand" id="{{ brand.slug }}" value="{{ brand }}"{% if brand.name in checked_brands %}checked{% endif %}>
                            <label for="{{ brand.slug }}"><span>{{ brand }}</span></label>
                          </div>
                      </li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              </div>
              {% endif %}

              <!-- rating -->
              {% if rates %}
              <div class="shop__aside__filter__accordion__item">
                <button type="button" class="shop__aside__filter__accordion__item__heading js-filter-accordion-heading">
                  Customer Rating
                  <i class="ri-subtract-line" aria-hidden="true"></i>
                </button>

                <div class="shop__aside__filter__accordion__item__body js-filter-accordion-body">
                  <div class="shop__aside__filter__accordion__item__body__content">
                    {% for rate in rates %}
                    <ul class="shop__aside__filter__rating">
                      <li>
                          <div class="form__checkbox">
                            <input class="form__checkbox__input" type="checkbox" name="rating" id="{{ rate }}" value="{{ rate }}"{% if rate|convert_to_str in checked_ratings %}checked{% endif %}>
                            <label for="{{ rate }}">
                              <span>
                                <div class="shop__aside__filter__rating__stars">
                                  {% for star in 1|to_star_range %}
                                    <i class="ri-star-fill shop__aside__filter__rating__stars__star {% if star <= rate %}shop__aside__filter__rating__stars__star--filled{% else %}shop__aside__filter__rating__stars__star--gray{% endif %}" aria-hidden="true"></i>
                                  {% endfor %}
                                </div>
                                {{ rate }}{% if rate != 5 %} & Up{% endif %}
                              </span>
                            </label>
                          </div>
                      </li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              </div>
              {% endif %}
            </div>

            <button class="btn btn--accent btn--full-width" type="submit">Filter products</button>
          </form>
        </div>
      </aside>