{% extends 'core/base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}


{% block content %}
<!-- PRODUCT DETAILS -->
<section class="product">
  <div class="container container--narrow">
    <div class="product__breadcrubms">
      <a href="/">Home</a>
      <i class="ri-arrow-right-s-line" aria-hidden="true"></i>
      <a href="{% url 'shop' %}">Shop</a>
      <i class="ri-arrow-right-s-line" aria-hidden="true"></i>
      <a href="{% url 'products-by-category' category.slug %}">{{ category.name }}</a>
      <i class="ri-arrow-right-s-line" aria-hidden="true"></i>
      <a href="{% url 'products-by-subcategory' subcategory.slug %}">{{ subcategory.name }}</a>
    </div>

    <div class="row row--top">
      <div class="product__content">
        <h3 class="heading heading--h3">{{ product.name }}</h3>
      </div>

      <div class="product__images">

      </div>

      <!-- {% for img in product.gallery.all %}
      <img src="{{ img.image.url }}" alt="{{ img.alt }}" height="1100">
      {% endfor %} -->
    </div>

    <div class="row row--bottom">
      <div class="tabs">
        <ul class="tabs__nav">
          <li class="active">
            <button class="tabs__nav__button js-tabs-nav-button active">Description</button>
          </li>
          <li>
            <button class="tabs__nav__button js-tabs-nav-button">Additional information</button>
          </li>
          <li>
            <button class="tabs__nav__button js-tabs-nav-button">Size Guide</button>
          </li>
          <li>
            <button class="tabs__nav__button js-tabs-nav-button">Reviews ({{ product.get_reviews }})</button>
          </li>
        </ul>
      </div>

      <div class="tabs__contents">
        <div class="tabs__contents__item js-tab-contents-item active">
            {{ product.full_description }}
        </div>

        <div class="tabs__contents__item js-tab-contents-item">
          Informacje
        </div>

        <div class="tabs__contents__item js-tab-contents-item">
          Rozmiary
        </div>

        <div class="tabs__contents__item js-tab-contents-item">
          Opinie
        </div>
      </div>
    </div>
  </div>
</section>

<!-- REALATED PRODUCTS -->
<section class="new-products related-products js-related-products">
  <div class="container container--narrow">
      <div class="row new-products__heading-row">
          <h2 class="heading heading--h2">Related Products</h2>

          <div class="new-products__arrows">
              <div class="swiper-round-arrow js-arrow-left">
                  <i class="ri-arrow-left-s-line" aria-hidden="true"></i>
              </div>
              <div class="swiper-round-arrow js-arrow-right">
                  <i class="ri-arrow-right-s-line" aria-hidden="true"></i>
              </div>
          </div>
      </div>
  </div>

  <div class="container">
      <div class="row js-products-cards-parent">
          <div class="swiper js-related-products-carousel">
              <div class="swiper-wrapper">

                {% for obj in related_products %}
                <div class="swiper-slide">
                  {% include 'shop/product-card.html' %}
                </div>
                {% endfor %}

              </div>
          </div>
      </div>
  </div>
</section>
{% endblock %}

{% block page_scripts_last %}
<script src="{% static 'js/shop.js' %}"></script>
{% endblock %}