{% extends 'core/base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}


{% block content %}
{% include 'core/page-title.html' %}

<section class="shop">
  <div class="container">
    <div class="row">
      <aside class="shop__aside">
        <div class="shop__line-head">
          <button class="shop__line-head__filter-button js-open-filter-btn">
            <i class="ri-equalizer-2-line" aria-hidden="true"></i>
            Filter
          </button>

          <span class="shop__line-head__filter-text">
            <i class="ri-equalizer-2-line" aria-hidden="true"></i>
            Filter
          </span>
        </div>

        <div class="shop__aside__filter js-filter">
          <button class="shop__aside__filter__close-button js-close-filter-btn">
            <span class="visually-hidden">Close filter</span>
            <i class="ri-close-line" aria-hidden="true"></i>
          </button>

          <form class="shop__aside__filter__form">
            <div class="shop__aside__filter__accordion js-filter-accordion">
              <!-- categories -->
              <div class="shop__aside__filter__accordion__item">
                <button type="button" class="shop__aside__filter__accordion__item__heading js-filter-accordion-heading">
                  Categories
                  <i class="ri-subtract-line" aria-hidden="true"></i>
                </button>
  
                <div class="shop__aside__filter__accordion__item__body js-filter-accordion-body">
                  <div class="shop__aside__filter__accordion__item__body__content">
                    <ul class="shop__aside__filter__categories">
                      <li>
                          <div class="form__checkbox">
                            <input class="form__checkbox__input" type="checkbox" name="category" id="men" value="men">
                            <label for="men"><span>Men (20)</span></label>
                          </div>

                          <ul>
                            <li>
                              <div class="form__checkbox">
                                <input class="form__checkbox__input" type="checkbox" name="category" id="sub1" value="sub1">
                                <label for="sub1"><span>Sub 1 (5)</span></label>
                              </div>
                            </li>

                            <li>
                              <div class="form__checkbox">
                                <input class="form__checkbox__input" type="checkbox" name="category" id="sub2" value="sub2">
                                <label for="sub2"><span>Sub 2 (10)</span></label>
                              </div>
                            </li>

                            <li>
                              <div class="form__checkbox">
                                <input class="form__checkbox__input" type="checkbox" name="category" id="sub3" value="sub3">
                                <label for="sub3"><span>Sub 3 (4)</span></label>
                              </div>
                            </li>
                          </ul>
                      </li>

                      <li>
                          <div class="form__checkbox">
                            <input class="form__checkbox__input" type="checkbox" name="category" id="women" value="women">
                            <label for="women"><span>Women (30)</span></label>
                          </div>

                          <ul>
                            <li>
                              <div class="form__checkbox">
                                <input class="form__checkbox__input" type="checkbox" name="category" id="sub1" value="sub1">
                                <label for="sub1"><span>Sub 1 (5)</span></label>
                              </div>
                            </li>

                            <li>
                              <div class="form__checkbox">
                                <input class="form__checkbox__input" type="checkbox" name="category" id="sub2" value="sub2">
                                <label for="sub2"><span>Sub 2 (10)</span></label>
                              </div>
                            </li>

                            <li>
                              <div class="form__checkbox">
                                <input class="form__checkbox__input" type="checkbox" name="category" id="sub3" value="sub3">
                                <label for="sub3"><span>Sub 3 (4)</span></label>
                              </div>
                            </li>
                          </ul>
                      </li>

                      <li>
                          <div class="form__checkbox">
                            <input class="form__checkbox__input" type="checkbox" name="category" id="kids" value="kids">
                            <label for="kids"><span>Kids (10)</span></label>
                          </div>

                          <ul>
                            <li>
                              <div class="form__checkbox">
                                <input class="form__checkbox__input" type="checkbox" name="category" id="sub1" value="sub1">
                                <label for="sub1"><span>Sub 1 (5)</span></label>
                              </div>
                            </li>

                            <li>
                              <div class="form__checkbox">
                                <input class="form__checkbox__input" type="checkbox" name="category" id="sub2" value="sub2">
                                <label for="sub2"><span>Sub 2 (10)</span></label>
                              </div>
                            </li>

                            <li>
                              <div class="form__checkbox">
                                <input class="form__checkbox__input" type="checkbox" name="category" id="sub3" value="sub3">
                                <label for="sub3"><span>Sub 3 (4)</span></label>
                              </div>
                            </li>
                          </ul>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <!-- color -->
              <div class="shop__aside__filter__accordion__item">
                <button type="button" class="shop__aside__filter__accordion__item__heading js-filter-accordion-heading">
                  Color
                  <i class="ri-subtract-line" aria-hidden="true"></i>
                </button>
  
                <div class="shop__aside__filter__accordion__item__body js-filter-accordion-body">
                  <div class="shop__aside__filter__accordion__item__body__content">
                    <ul class="shop__aside__filter__color">
                      <li>
                          <div class="form__radio">
                            <input class="form__radio__input" type="radio" name="color" id="color" value="color">
                            <label for="color">
                              <span>
                                <div class="shop__aside__filter__color" style="background-color: #e24229;"></div>
                                Colors
                              </span>
                            </label>
                          </div>
                      </li>

                      <li>
                          <div class="form__radio">
                            <input class="form__radio__input" type="radio" name="color" id="gray" value="gray">
                            <label for="gray">
                              <span>
                                <div class="shop__aside__filter__color" style="background-color: #3d3d3d;"></div>
                                Gray
                              </span>
                            </label>
                          </div>
                      </li>

                      <li>
                          <div class="form__radio">
                            <input class="form__radio__input" type="radio" name="color" id="black" value="black">
                            <label for="black">
                              <span>
                                <div class="shop__aside__filter__color" style="background-color: #0d0d0d;"></div>
                                Black
                              </span>
                            </label>
                          </div>
                      </li>

                      <li>
                          <div class="form__radio">
                            <input class="form__radio__input" type="radio" name="color" id="white" value="white">
                            <label for="white">
                              <span>
                                <div class="shop__aside__filter__color" style="background-color: #ffffff;"></div>
                                White
                              </span>
                            </label>
                          </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <!-- size -->
              <div class="shop__aside__filter__accordion__item">
                <button type="button" class="shop__aside__filter__accordion__item__heading js-filter-accordion-heading">
                  Size
                  <i class="ri-subtract-line" aria-hidden="true"></i>
                </button>
  
                <div class="shop__aside__filter__accordion__item__body js-filter-accordion-body">
                  <div class="shop__aside__filter__accordion__item__body__content">
                    <ul class="shop__aside__filter__size">
                      <li>
                          <div class="form__checkbox">
                            <input class="form__checkbox__input" type="checkbox" name="size" id="s" value="s">
                            <label for="s"><span>s</span></label>
                          </div>
                      </li>

                      <li>
                          <div class="form__checkbox">
                            <input class="form__checkbox__input" type="checkbox" name="size" id="m" value="m">
                            <label for="m"><span>m</span></label>
                          </div>
                      </li>

                      <li>
                          <div class="form__checkbox">
                            <input class="form__checkbox__input" type="checkbox" name="size" id="l" value="l">
                           <label for="l"><span>l</span></label>
                          </div>
                      </li>

                      <li>
                          <div class="form__checkbox">
                            <input class="form__checkbox__input" type="checkbox" name="size" id="xl" value="xl">
                            <label for="xl"><span>xl</span></label>
                          </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <!-- brand -->
              <div class="shop__aside__filter__accordion__item">
                <button type="button" class="shop__aside__filter__accordion__item__heading js-filter-accordion-heading">
                  Brand
                  <i class="ri-subtract-line" aria-hidden="true"></i>
                </button>
  
                <div class="shop__aside__filter__accordion__item__body js-filter-accordion-body">
                  <div class="shop__aside__filter__accordion__item__body__content">
                    <ul class="shop__aside__filter__brand">
                      <li>
                          <div class="form__checkbox">
                            <input class="form__checkbox__input" type="checkbox" name="brand" id="flora" value="flora">
                            <label for="flora"><span>flora</span></label>
                          </div>
                      </li>

                      <li>
                          <div class="form__checkbox">
                            <input class="form__checkbox__input" type="checkbox" name="brand" id="fashione" value="fashione">
                            <label for="fashione"><span>fashione</span></label>
                          </div>
                      </li>

                      <li>
                          <div class="form__checkbox">
                            <input class="form__checkbox__input" type="checkbox" name="brand" id="zara" value="zara">
                           <label for="zara"><span>zara</span></label>
                          </div>
                      </li>

                      <li>
                          <div class="form__checkbox">
                            <input class="form__checkbox__input" type="checkbox" name="brand" id="burino" value="burino">
                            <label for="burino"><span>burino</span></label>
                          </div>
                      </li>

                      <li>
                          <div class="form__checkbox">
                            <input class="form__checkbox__input" type="checkbox" name="brand" id="celvine" value="celvine">
                            <label for="celvine"><span>celvine</span></label>
                          </div>
                      </li>

                      <li>
                          <div class="form__checkbox">
                            <input class="form__checkbox__input" type="checkbox" name="brand" id="denima" value="denima">
                            <label for="denima"><span>denima</span></label>
                          </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <!-- rating -->
              <div class="shop__aside__filter__accordion__item">
                <button type="button" class="shop__aside__filter__accordion__item__heading js-filter-accordion-heading">
                  Customer Rating
                  <i class="ri-subtract-line" aria-hidden="true"></i>
                </button>
  
                <div class="shop__aside__filter__accordion__item__body js-filter-accordion-body">
                  <div class="shop__aside__filter__accordion__item__body__content">
                    <ul class="shop__aside__filter__rating">
                      <li>
                          <div class="form__checkbox">
                            <input class="form__checkbox__input" type="checkbox" name="rating" id="5" value="5">
                            <label for="5">
                              <span>
                                <div class="shop__aside__filter__rating__stars">
                                  <i class="ri-star-fill shop__aside__filter__rating__stars__star" aria-hidden="true"></i>
                                  <i class="ri-star-fill shop__aside__filter__rating__stars__star" aria-hidden="true"></i>
                                  <i class="ri-star-fill shop__aside__filter__rating__stars__star" aria-hidden="true"></i>
                                  <i class="ri-star-fill shop__aside__filter__rating__stars__star" aria-hidden="true"></i>
                                  <i class="ri-star-fill shop__aside__filter__rating__stars__star" aria-hidden="true"></i>
                                </div>
                                5
                              </span>
                            </label>
                          </div>
                      </li>

                      <li>
                          <div class="form__checkbox">
                            <input class="form__checkbox__input" type="checkbox" name="rating" id="4" value="4">
                            <label for="4">
                              <span>
                                <div class="shop__aside__filter__rating__stars">
                                  <i class="ri-star-fill shop__aside__filter__rating__stars__star" aria-hidden="true"></i>
                                  <i class="ri-star-fill shop__aside__filter__rating__stars__star" aria-hidden="true"></i>
                                  <i class="ri-star-fill shop__aside__filter__rating__stars__star" aria-hidden="true"></i>
                                  <i class="ri-star-fill shop__aside__filter__rating__stars__star" aria-hidden="true"></i>
                                  <i class="ri-star-fill shop__aside__filter__rating__stars__star shop__aside__filter__rating__stars__star--gray" aria-hidden="true"></i>
                                </div>
                                4 & Up
                              </span>
                            </label>
                          </div>
                      </li>

                      <li>
                          <div class="form__checkbox">
                            <input class="form__checkbox__input" type="checkbox" name="rating" id="3" value="3">
                            <label for="3">
                              <span>
                                <div class="shop__aside__filter__rating__stars">
                                  <i class="ri-star-fill shop__aside__filter__rating__stars__star" aria-hidden="true"></i>
                                  <i class="ri-star-fill shop__aside__filter__rating__stars__star" aria-hidden="true"></i>
                                  <i class="ri-star-fill shop__aside__filter__rating__stars__star" aria-hidden="true"></i>
                                  <i class="ri-star-fill shop__aside__filter__rating__stars__star shop__aside__filter__rating__stars__star--gray" aria-hidden="true"></i>
                                  <i class="ri-star-fill shop__aside__filter__rating__stars__star shop__aside__filter__rating__stars__star--gray" aria-hidden="true"></i>
                                </div>
                                3 & Up
                              </span>
                            </label>
                          </div>
                      </li>

                      <li>
                          <div class="form__checkbox">
                            <input class="form__checkbox__input" type="checkbox" name="rating" id="2" value="2">
                            <label for="2">
                              <span>
                                <div class="shop__aside__filter__rating__stars">
                                  <i class="ri-star-fill shop__aside__filter__rating__stars__star" aria-hidden="true"></i>
                                  <i class="ri-star-fill shop__aside__filter__rating__stars__star" aria-hidden="true"></i>
                                  <i class="ri-star-fill shop__aside__filter__rating__stars__star shop__aside__filter__rating__stars__star--gray" aria-hidden="true"></i>
                                  <i class="ri-star-fill shop__aside__filter__rating__stars__star shop__aside__filter__rating__stars__star--gray" aria-hidden="true"></i>
                                  <i class="ri-star-fill shop__aside__filter__rating__stars__star shop__aside__filter__rating__stars__star--gray" aria-hidden="true"></i>
                                </div>
                                2 & Up
                              </span>
                            </label>
                          </div>
                      </li>

                      <li>
                          <div class="form__checkbox">
                            <input class="form__checkbox__input" type="checkbox" name="rating" id="1" value="1">
                            <label for="1">
                              <span>
                                <div class="shop__aside__filter__rating__stars">
                                  <i class="ri-star-fill shop__aside__filter__rating__stars__star" aria-hidden="true"></i>
                                  <i class="ri-star-fill shop__aside__filter__rating__stars__star shop__aside__filter__rating__stars__star--gray" aria-hidden="true"></i>
                                  <i class="ri-star-fill shop__aside__filter__rating__stars__star shop__aside__filter__rating__stars__star--gray" aria-hidden="true"></i>
                                  <i class="ri-star-fill shop__aside__filter__rating__stars__star shop__aside__filter__rating__stars__star--gray" aria-hidden="true"></i>
                                  <i class="ri-star-fill shop__aside__filter__rating__stars__star shop__aside__filter__rating__stars__star--gray" aria-hidden="true"></i>
                                </div>
                                1 & Up
                              </span>
                            </label>
                          </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <button class="btn btn--accent btn--full-width" type="submit">Filter products</button>
          </form>
        </div>
      </aside>

      <div class="shop__content">
        <div class="shop__line-head">
          <div class="shop__line-head__counter">Showing 1–12 of 15 results</div>

          <div class="shop__line-head__controls">
            <form class="shop__products-sorting js-shop-products-sorting">
              <div class="form__select">
                <select name="sort" onchange="this.form.submit()">
                  <option value="">Default sorting</option>
                  <option value="alphabet">Alphabet sorting</option>
                  <option value="xxx">XXX sorting</option>
                </select>
              </div>
            </form>

            <div class="shop__products-view js-products-view-buttons">
              <button class="shop__products-view__button js-products-view-grid-button">
                <i class="ri-layout-grid-line" aria-hidden="true"></i>
              </button>

              <button class="shop__products-view__button js-products-view-list-button">
                <i class="ri-list-view" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>

        <div class="shop__cards js-shop-cards">
          {% for i in '123456'|make_list %}
            <div class="product-card" data-id="1">
              <div class="product-card__top">
                  <img class="product-card__top__image" src="https://i.pinimg.com/736x/e4/64/f6/e464f67ced879835b32e4c84318bf7a2.jpg" alt="Product image">

                  <div class="product-card__top__elements">
                      <div class="product-card__top__elements__buttons">
                          <button class="product-card__top__elements__buttons__btn">
                              <span class="visually-hidden">Add to favourities</span>
                              <i class="ri-heart-line" aria-hidden="true"></i>
                          </button>

                          <a href="#" class="product-card__top__elements__buttons__btn">
                              <span class="visually-hidden">See more details</span>
                              <i class="ri-eye-line" aria-hidden="true"></i>
                          </a>
                      </div>

                      <button class="product-card__add-to-cart btn btn--accent">Add To Cart</button>
                  </div>
              </div>

              <div class="product-card__bottom">
                  <a href="#" class="product-card__title heading heading--h6">Pure black cotton men T-shirt</a>

                  <div class="product-card__description">
                    Our men black t-shirt offers a classic fit and is made from high-quality pure cotton materials to keep you feeling and looking great.
                  </div>

                  <div class="product-card__price">
                      $<span class="product-card__price__figure">250.00</span>
                  </div>
              </div>
            </div>
          {% endfor %} 
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block page_scripts_last %}
<script src="{% static 'js/shop.js' %}"></script>
{% endblock %}