{% extends 'core/base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}


{% block content %}
{% include 'core/page-title.html' %}

<section class="shop">
  <div class="container">
    <div class="row{% if request.resolver_match.url_name != 'shop' %} row--no-filter{% endif %}">
      {% if request.resolver_match.url_name == 'shop' %}
      {% include 'shop/product-filters.html' %}
      {% endif %}
      <div class="shop__content">
        <div class="shop__line-head">
          <div class="shop__line-head__counter">Showing {{ pages.start_index }}–{{ pages.end_index }} of {{ pages.paginator.count }} {% if pages.paginator.count == 1 %}result{% else %}results{% endif %}</div>

          <div class="shop__line-head__controls">
            <form class="shop__products-sorting js-shop-products-sorting">
              <div class="form__select">
                <select name="sort" onchange="this.form.submit()">
                  <option value="default">Default sorting</option>
                  <option value="alphabetically" {% if request.GET.sort == 'alphabetically' %}selected{% endif %}>Alphabetical sorting</option>
                  <option value="price" {% if request.GET.sort == 'price' %}selected{% endif %}>Sort by price</option>
                </select>
              </div>
            </form>

            <div class="shop__products-view js-products-view-buttons">
              <button class="shop__products-view__button js-products-view-grid-button">
                <i class="ri-layout-grid-line" aria-hidden="true"></i>
              </button>

              <button class="shop__products-view__button js-products-view-list-button">
                <i class="ri-list-view" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>

        {% if request.resolver_match.url_name != 'shop' %}
        <h5 class="shop__content__heading heading heading--h5">{% if request.resolver_match.url_name == 'products-by-tag' %}Tag: {{ tag }}{% elif request.resolver_match.url_name == 'products-by-category' %}Category: {{ category }}{% elif request.resolver_match.url_name == 'products-by-subcategory' %}Subcategory: {{ subcategory }}{% endif %}</h5>
        {% endif %}

        <div class="shop__cards js-shop-cards js-products-cards-parent">
          {% for obj in pages %}
            {% include 'shop/product-card.html' %}
          {% endfor %} 
        </div>

        {% if pages.paginator.count > 9 %}
        {% include 'blog/pagination.html' %}
        {% endif %}
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block page_scripts_last %}
<script src="{% static 'js/shop.js' %}"></script>
{% endblock %}